[2018-05-18 17:14] dvidsilva opened #1 "Create a style guide"

[2018-05-18 17:14] dvidsilva opened #2 "Create a 'contributing' guide"

[2018-05-18 17:15] dvidsilva opened #3 "Chose a template or design"
@fvcproductions Let's add links to templates or designs here, just in case others want to weight in

[2018-05-18 17:16] dvidsilva opened #4 "Improve the readme"

[2018-05-18 17:16] dvidsilva opened #5 "Include the code of conduct for contributors"

[2018-05-18 17:17] dvidsilva opened #6 "Create a 'latinxs in tech' album collection with stock images"
Similar to this
https://jopwellcollection.jopwell.com/thejopwellcollection/

or this
https://www.wocintechchat.com/blog/wocintechphotos

It would be great to have an album of our events, hackathons, startup weekend, etc. So that people can have some images to use for their events or websites meant for latinxs in tech.

[2018-05-18 17:17] dvidsilva opened #7 "Create a standard version of the logo to use in places"
Change on the following places:

- [x] website
- [x] facebook group
- [x] facebook page
- [ ] SF twitter
- [ ] NY twitter
- [ ] LA twitter
- [ ] instagram
- [ ] NY instagram
- [ ] youtube
- [x] github

[2018-05-18 17:17] dvidsilva opened #8 "Improve the media kit"
We should have a page that we can share with people that have some basic contact information, logo and description about us that partners or press can use to have our information.

We're currently using this: https://drive.google.com/open?id=1avoYamYNnBRxNhQFxW_n1omqdqRlsgz2CfIPdC-Xe5s

Issue #7 also has the new consistent logo, and we can generate more

[2018-05-18 17:19] dvidsilva opened #9 "Change DNS Settings for netifly"
https://app.netlify.com/sites/techqueriawebsite/overview

Is blocked by others, but keeping it here for reference

[2018-05-18 18:14] dvidsilva opened #10 "Create a slack - discourse oauth integration"
https://github.com/4xposed/oauth-slack-discourse

[2018-06-14 01:59] fvcproductions commented on #5
Refer to #11

[2018-06-14 02:17] fvcproductions commented on #1
We would need some designer volunteers from Techqueria for more substantial ideas on this.

[2018-06-14 02:17] fvcproductions commented on #2
Added in #11

[2018-06-14 02:18] fvcproductions commented on #4
Added lots of new info in #11

[2018-06-14 02:39] fvcproductions commented on #8
Media Kit added in #11 but #7 should probably be figured out first 😄

[2018-06-14 02:39] fvcproductions commented on #9
Once #11 is configured correctly for everything, we can go ahead and change DNS settings within Netlify! 👍

[2018-06-14 02:41] fvcproductions commented on #10
If we're using Typeform or even Google Forms, we can also make it easier on us to just send a DM in Slack everytime someone signs up.

This would be easier to setup so less technical burden. 😄

For Typeform integration, see https://zapier.com/apps/slack/integrations/typeform and https://zapier.com/apps/slack/integrations/typeform/883/notify-your-team-on-slack-when-your-typeform-form-has-a-new-entr

[2018-06-14 02:45] fvcproductions commented on #7
As of June 13, 2018 - this is how all the social media accounts look like for Techqueria. This is for reference and can help us decide which logo we can use as our standard.

# Meetup

<img width="1703" alt="screenshot 2018-06-13 19 32 19" src="https://user-images.githubusercontent.com/4284691/41388390-926a7670-6f40-11e8-8523-615f9cd6a4ac.png">

# Facebook

<img width="826" alt="screenshot 2018-06

[2018-06-14 02:48] fvcproductions opened #12 "Update newsletter layout to reflect Techqueria theme"
For the MailChimp newsletter (if that's still an active thing), we should update the layout to coincide with the techqueria theme more.

See https://eepurl.com/c5xNWX

Example of Typeform with Techqueria theme (this should be migrated to Techqueria Typeform account!): https://fvcproductions.typeform.com/to/FpJlJp

[2018-06-14 02:49] fvcproductions commented on #3
For Hugo, all themes are listed out here: https://themes.gohugo.io/

These stuck out to me:

- https://themes.gohugo.io/hugo-split-theme/
- https://themes.gohugo.io/hugo-icon/

[2018-06-28 20:00] dvidsilva opened #13 "Add new resources to the resources page"
From an email sent to the team

Hello,

I'm helping with an awareness campaign to shed more light on organizations that help immigrants. I'm excited to share a few valuable resources with you! Each of the sites below are specific to assisting immigrants on health, education and legal services.

Latino Health Resources

https://www.medicareadvantage.com/latino-health-resource-guide

Education Resou

[2018-07-03 00:22] fvcproductions commented on #9
@dvidsilva Were we thinking of changing the template first before doing this step or how should we go about this?

[2018-07-06 20:21] dvidsilva commented on #9
@fvcproductions  yes i was thinking that. maybe in the meantime we can make a dns setting for a subdomain, like new.techqueria.org or beta, idk, let me know what you think and i can adjust that.

[2018-07-11 17:49] dvidsilva commented on #9
@fvcproductions  Done! sorry the delay, http://beta.techqueria.org/ with this we can probably now invite other folks to collaborate, and give us ideas for design, templates, content, etc. I can make an announcement, or you can do it, maybe on the #random channel.

[2018-07-12 03:58] #4 closed

[2018-07-12 03:58] #2 closed

[2018-07-12 03:58] #5 closed

[2018-07-12 04:03] fvcproductions opened #14 "Update Events Page"
http://beta.techqueria.org/events/

Needs to have Eventbrite and/or Google Calendar Embed so members can stay up to date on latest events more easily.

https://support.google.com/calendar/answer/41207?hl=en

https://www.eventbrite.com/support/articles/en_US/How_To/how-to-sell-eventbrite-tickets-registrations-on-your-website-using-embeddable-widgets?lg=en_US

---

* [x] Checked to see if the issue

[2018-07-12 14:04] #9 closed

[2018-07-12 14:05] dvidsilva commented on #9
We'll open a new issue for when ready. But closing this one for know!

[2018-07-12 18:15] dvidsilva opened #16 "Add a contributors page"
Create a page where we show faces and names of contributors with links to their contact, to highlight the contributions of folks, it can be its own page or under the contributing page.

[2018-07-12 18:34] dvidsilva opened #17 "Integrate github and slack to get notifications"

[2018-07-12 18:34] #17 closed

[2018-07-12 18:37] fvcproductions opened #18 "Add integration - Slack + Eventbrite/Google Calendar"
and we can even go a step further and add an integration for our Eventbrite/Google Calendar instance so that those are pinged in a Slack channel automatically as well

[2018-07-12 18:37] fvcproductions opened #19 "Add integration - Slack + Typeform"
for approving Slack invites, we should add an integration with Typeform so that it pings @dvidsilva  or a public channel

[2018-07-12 18:45] fvcproductions commented on #16
Is this specifically for contributors to the website?

At https://beta.techqueria.org/contributors - we could show cards of their faces and name with an external link to their GitHub/LinkedIn - similar to how https://beta.techqueria.org/testimonials works.

[2018-07-12 18:46] dvidsilva commented on #16
Yes, different to the volunteers page or teammates that's in about

[2018-07-13 00:17] santos22 commented on #16
👋
What if we did something like this project? https://github.com/paypal/glamorous#contributors
I've seen it done elsewhere and IMO it puts the recognition front and center.

[2018-07-13 01:57] fvcproductions commented on #16
@santos22 We could potentially do both - have a dedicated section in README for contributors and also have a web page for it on Techqueria.

Having both would require more maintainability but it's @dvidsilva's call.

[2018-07-13 03:01] fvcproductions opened #20 "Decide GitHub repo structure"
How should we manage the development of the website for the long run?

Should we use a tool like [ZenHub](https://www.zenhub.com/) or [Waffle.io](https://waffle.io/) or just organize things using GitHub Projects?

How do we decide which issues to prioritize and do we have plans to have timelines for releases or new versions of the website?

Just would like to get thoughts and idea on how continuou

[2018-07-13 03:06] fvcproductions commented on #20
Just to add on to this, this is how repo looks with ZenHub extension:

<img width="1918" alt="screenshot 2018-07-12 20 06 27" src="https://user-images.githubusercontent.com/4284691/42670356-1d6e1472-860f-11e8-8d26-bad0c73ae9a6.png">

[2018-07-13 03:07] fvcproductions commented on #20
Also related to this, @dvidsilva would it be possible to remove *Wiki* tab in repo settings since we probably won't be using that feature?

[2018-07-13 14:15] dvidsilva commented on #20
I really like waffle, I can activate a board there if we want!

[2018-07-19 00:38] #13 closed

[2018-07-24 22:08] dvidsilva commented on #20
I added a board here, will send a PR with a link to this in the README https://waffle.io/techqueria/website

[2018-07-24 22:21] dvidsilva commented on #16
We can leave the list only on readme for now, and if it increases too much we can reconsider to avoid the duplication.

[2018-07-24 22:21] #16 closed

[2018-07-24 22:23] dvidsilva opened #23 "Improve the contributing guide"
The contributing guide  is not very clear yet on what the platform are we using, so is not easy to know how to add new content.

It would be good to have more information about the content, layouts, partials, commands, and pre-processors being used.

[2018-07-24 22:55] dvidsilva commented on #7
![logo-rectangular](https://user-images.githubusercontent.com/1588753/43170328-674883ae-8f59-11e8-9fa2-86f91f86dace.png)
![logo-squared](https://user-images.githubusercontent.com/1588753/43170415-e37714b8-8f59-11e8-92ed-6512cf4d8132.png)

Added new logo versions that are more consistent, creating a new issue to make a media kit page. We can use this logos in the site too or other social medias.

[2018-07-24 22:56] dvidsilva opened #24 "Improve the media kit page"
We should have a page that we can share with people that have some basic contact information, logo and description about us that partners or press can use to have our information.

We're currently using this: https://drive.google.com/open?id=1avoYamYNnBRxNhQFxW_n1omqdqRlsgz2CfIPdC-Xe5s

Issue #7 also has the new consistent logo, and we can generate more

[2018-07-24 23:04] dvidsilva commented on #7
![logo-rectangular-no-url](https://user-images.githubusercontent.com/1588753/43170696-32607f3c-8f5b-11e8-810d-84933801eb62.png)
![logo-squared-no-url](https://user-images.githubusercontent.com/1588753/43170697-329b3bf4-8f5b-11e8-8a92-08cae6126a7e.png)

[2018-07-25 00:11] dvidsilva commented on #24
Duplicated #8

[2018-07-25 00:11] #24 closed

[2018-07-26 03:30] fvcproductions commented on #20
Since we've decided to use Waffle.io, I will go ahead and close this issue.

[2018-07-26 03:30] #20 closed

[2018-07-26 03:36] fvcproductions commented on #23
I agree this needs some work so I will be sure to cook something up soon that elaborates on Hugo and how to use it with this website.

[2018-08-13 18:28] dvidsilva commented on #8
We can probably close this one for now, and revisit that page when we apply the new designs when they come

[2018-08-13 18:28] #8 closed

[2018-08-24 00:56] fvcproductions commented on #3
We haven't an update on this for a while so my plan moving forward will be to just take the existing design that we have and try and apply that as best as possible to the beta website.

Hope that works!

[2018-08-24 00:57] fvcproductions commented on #7
Just to follow up on this, were all the logos updated across the social media profiles?

[2018-08-24 01:03] fvcproductions commented on #23
I tried to elaborate on this within README/Contributing but more work needs to be done in comments within the source code. I will focus on this with the minor redesign.

[2018-08-24 01:05] fvcproductions commented on #18
@dvidsilva The calendar is something only you have access to right now as an admin - what were your thoughts on this?

Might be easier than manually updating the events if we just show Eventbrite embed? 😄

[2018-08-24 01:06] fvcproductions commented on #6
I'm definitely not a professional photographer but what could help streamline this process is just crowdsourcing this and making it a fun thing - ergo, if you have a professional photo that you want to share, then we consolidate them all in an album and have them available through the website.

Maybe a message in random to gather photos?

Just some thoughts. ¯\_(ツ)_/¯

[2018-08-24 02:26] fvcproductions commented on #19
We already have a Typeform but maybe we just use Google Forms and integrate that with Slack instead? It's up to you! 😄

https://fvcproductions.typeform.com/to/FpJlJp?typeform-embed=embed-widget

[2018-08-24 02:27] fvcproductions commented on #12
I can help with this if I get access to MailChimp newsletter (assuming it's still a thing Techqueria wants to invest time/effort in maintaining). Otherwise, we should just remove newsletter reference.

[2018-09-12 00:02] fvcproductions opened #30 "Archive old repo once this launches as techqueria.org"
https://github.com/techqueria/site should be archived and read-only after this is launched for https://techqueria.org

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-13 22:16] dvidsilva opened #31 "Add other testimonials"
We can add more testimonials here in the comments to later add them to the website.

[2018-09-13 22:17] dvidsilva commented on #31
Techstars Startup Weekend was an unforgettable experience. I was looking to transition from a career in Education to the tech world for a while and when I heard of Startup Weekend I decided to take the leap of faith and get outside of my comfort zone. I had so many thoughts running through my head like, "Will anyone say anything about me being a teacher? Will anyone want me to be part of their gro

[2018-09-14 05:50] fvntr opened #32 "Update hosts"
Include:
LendingClub
InformedK12
Walmart
Braintree
Cisco Systems/Meraki
CareMessage
Google Venice
Twilio
Climate Corporation
Dropbox
Lumosity
Eco-systm

---

* [] Checked to see if the issue has already been discussed before 🤔️
* [] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-14 17:05] fvcproductions commented on #32
This is a minor change to a Markdown file, so if you'd like to take this one yourself @fvntr, it shouldn't take too long! 👍

[2018-09-14 17:05] fvcproductions commented on #19
Typeform Pricing is not scalable - we are going with Google Forms instead.

[2018-09-14 17:05] #19 closed

[2018-09-14 17:07] fvcproductions opened #33 "Add Slack + Google Forms integration"
Zapier Flow

Google Form submission asking to get into Slack group --> goes to Slack channel called #signups or something --> admin invites person

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-14 17:30] fvntr commented on #32
I actually want to discuss the layout of this, I think we would be better served showing logos here

[2018-09-14 17:32] fvntr opened #34 "Change in Sponsors"
Since we are exploring different sponsorships we should get rid of the following on the sponsors page:  'provided us with snacks and drinks for our members'

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-14 21:11] #34 closed

[2018-09-14 21:12] fvntr commented on #34
Resolved with https://github.com/techqueria/website/pull/35

[2018-09-14 21:13] fvntr commented on #32
For now though, I will just include these and create an issue discussing this

[2018-09-14 21:16] fvntr opened #36 "Update sponsor list"
Currently sponsors are listed as a bulleted list with a short description following.
As the list of sponsors grows, this will become a wall of text. Also, this description format works well for smaller companies that are lesser known, but seems a bit weird describing larger companies that are more popular like Google.

One idea is to create a sprite with company logos

---

* [x] Checked to see if

[2018-09-14 21:40] mvargasvega commented on #36
@fvntr Let me send you screenshot of what I think you are looking for.

What if we just put the logos of the company, and if the user hovered over the logo, a small description would pop up. Then if they were to click on the logo, it would send to the respective organization.

[2018-09-15 03:22] fvcproductions opened #37 "Add Google Analytics"
So we can track how many people are visiting the website

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-15 03:30] fvcproductions opened #38 "Consolidate blog"
https://blog.techqueria.org/ could be located on the website without it being an external link

This is up for discussion as it's not required but since the blog only has a few posts now, it might be worth just moving it all to the main website so its gets higher ranked in search results

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to

[2018-09-15 03:31] fvcproductions commented on #10
@dvidsilva could you explain what this integration will do? 🤔

[2018-09-15 07:52] fvntr commented on #36
<img width="922" alt="screen shot 2018-09-15 at 12 48 50 am" src="https://user-images.githubusercontent.com/1316570/45584045-941caf80-b881-11e8-8182-ca0be52b250b.png">

[2018-09-15 18:17] fvcproductions commented on #36
I actually addressed this in PR #39 - see https://deploy-preview-39--techqueria.netlify.com/sponsors/ for a preview of what the new layout would like.

We still need to add the other sponsors though which can be done in a future PR. 😄

[2018-09-18 20:14] #14 closed

[2018-09-19 18:18] dvidsilva opened #40 "Add call to actions to the homepage"
The old/current home page includes call to actions to invite visitors to join our slack and newsletter, we need to add similar ones to the new one.

- [x] slack
- [ ] newsletter

[2018-09-19 19:39] fvntr opened #42 "Update image dimensions for Open Graph images in header"
Insert description of issue here
Showcase the embedded or `og` image full size
http://ogp.me/

https://developers.facebook.com/docs/sharing/webmasters/

https://opengraphcheck.com/---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-19 19:52] #23 closed

[2018-09-19 19:54] fvcproductions commented on #42
Relevant file: https://github.com/techqueria/website/blob/master/site/layouts/partials/head.html

[2018-09-19 19:56] fvcproductions commented on #42
Should look something like this across all social media platforms/Slack embeds (already looks like this for Twitter).

<img width="463" alt="screenshot 2018-09-19 12 56 06" src="https://user-images.githubusercontent.com/4284691/45777711-734eb400-bc0b-11e8-8344-218b2e01ce95.png">

[2018-09-19 19:59] fvcproductions opened #43 "Update homepage image (?)"
The current homepage image seems a bit older and lower resolution - might be worth exploring adding a newer high-res image from a recent Techqueria event.

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-19 21:09] dvidsilva opened #44 "Display past events in a smaller list so we don't have to delete them"

[2018-09-19 21:10] dvidsilva opened #45 "Find a way to display partner events separate of official events"

[2018-09-19 21:10] dvidsilva opened #46 "Improve events page"
Insert description of issue here

---

* [] Checked to see if the issue has already been discussed before 🤔️
* [] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-19 21:11] #37 closed

[2018-09-19 21:18] dvidsilva opened #48 "Allow to pass text color where image is permitted to resolve conflicts"
Currently, if an image is too light then the text color or background get confused and is hard to read the content. Allow to pass fallback image or colors to modify a section or single page

[2018-09-19 22:19] dvidsilva opened #50 "test"
Insert description of issue here

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [ ] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-19 22:19] dvidsilva commented on #50
tested

[2018-09-19 22:19] #50 closed

[2018-09-20 15:46] #48 closed

[2018-09-20 15:47] #46 closed

[2018-09-20 15:56] dvidsilva opened #52 "Update the DNS"
Insert description of issue here

---

* [ ] Checked to see if the issue has already been discussed before 🤔️
* [ ] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-20 15:56] #52 closed

[2018-09-20 15:57] #30 closed

[2018-09-20 18:19] fvcproductions commented on #44
Should be able to close this now!

[2018-09-20 18:19] #44 closed

[2018-09-20 18:19] fvcproductions commented on #40
Oops - forgot about newsletter!

[2018-09-20 22:02] fvntr opened #53 "Update About Page to reflect current organizers"
The current about page doesnt reflect people currently organizing.
Also we should consider adding an 'alumni' or past organizers section as a way of showing our appreciation for their work.
---

* [x ] Checked to see if the issue has already been discussed before 🤔️
* [ x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-20 22:41] technomoda opened #54 "Create a CFP (call for proposals)"
Example: http://techintersections.org/call-for-speakers/proposals/

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [ ] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-21 02:45] db118 commented on #36
@fvcproductions Is this still up for grabs 👀

[2018-09-21 06:59] darrylbalderas opened #56 "Different card image height in communities and sponsor page"
An example of difference of card image height in sponsor page
![screen shot 2018-09-20 at 11 45 36 pm](https://user-images.githubusercontent.com/10657206/45864694-ad18db00-bd2f-11e8-955a-277f4b4dd746.png)

Another example in difference of card image height in communities page

![screen shot 2018-09-20 at 11 46 24 pm](https://user-images.githubusercontent.com/10657206/45864736-d33e7b00-bd2f-11e8-9f

[2018-09-21 17:52] fvcproductions commented on #56
See https://bulma.io/documentation/elements/image/

[2018-09-21 17:57] fvcproductions commented on #10
Still not sure what this entails - more details would be great! :smile:

[2018-09-21 17:58] fvcproductions commented on #7
I think this is all good, right? :smile:

[2018-09-21 17:58] fvcproductions commented on #36
Done!

[2018-09-21 18:02] fvcproductions commented on #53
This is just a simple Markdown file update so feel free to take this on!

[2018-09-21 18:12] fvntr commented on #53
please assign to me

[2018-09-21 18:13] fvntr opened #58 "Sponsor logos are inconsistent"
Sponsor logos are taking up the dimensions of parent container and is causing some logos to look off.

---

* [x ] Checked to see if the issue has already been discussed before 🤔️
* [x ] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-21 18:36] db118 commented on #58
Is it possible to give me a visual representation of the issue 😄 ?

[2018-09-21 19:55] fvcproductions commented on #58
Refer to #57 and current sponsor pages

[2018-09-22 21:45] dvidsilva commented on #6
I'm gonna add links here to albums we have, and we can think of a cool way to organize them and also decide like what type of license are we going to allow.

https://photos.app.goo.gl/Rv4E4H7RRkYbAQJz7

[2018-09-22 22:27] fvcproductions commented on #6
I vote for PassGallery: https://passgallery.com/pricing - it's $0 for up to 20 GB of storage.

[2018-09-22 22:27] fvcproductions commented on #6
Or maybe some way to just embed directly onto website?

[2018-09-22 22:31] fvcproductions commented on #6
There's also Flickr and potentially embedding Google Photos onto website.

Also, for the NYC photos, those should be transferred to a Google Photos album.

I think I prefer keeping all the photos in the Google Photos albums so it's less work.

We should just set guidelines on CC and photo album titles. 👍

[2018-09-22 22:32] fvcproductions commented on #6
I think it should be non-commercial usage: https://www.flickr.com/creativecommons/

[2018-09-22 22:33] fvcproductions commented on #6
And then they can pay if they want to use it?? But that would require an e-commerce integration... I dunno.

[2018-09-22 22:44] fvcproductions commented on #54
WaffleJS was mentioned in Slack and the way they do it is via GitHub issues. Is that the way we want to do it too?

https://wafflejs.com/

There's also Google Forms.

[2018-09-22 22:45] fvcproductions commented on #58
This was reverted but there's still a desire to use background image instead for perspective.

[2018-09-22 22:46] #36 closed

[2018-09-22 22:48] fvcproductions commented on #45
Yeah, we can include a partner event boolean to be in the front matter.

`partnerEvent: true` which would then add a line in the card noting it's a partner event somehow.

[2018-09-22 22:49] fvcproductions commented on #58
Further discussion will take place in #56 and I believe that @db118 is already working on making this look more optimal.

[2018-09-22 22:49] #58 closed

[2018-09-22 22:55] fvcproductions opened #62 "Close out older GitHub project"
Older project still shows up in issue config - we can close that out so it doesn't show up anymore I believe.

![screenshot 2018-09-22 15 54 59](https://user-images.githubusercontent.com/4284691/45922398-ec564180-be7f-11e8-8724-80427f100d33.jpg)

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were pro

[2018-09-22 23:13] #62 closed

[2018-09-23 00:26] fvcproductions opened #63 "Add Latinx in Design somewhere"
It would be great to add https://www.latinxswhodesign.com somewhere to support our Latinx Designers.

This is just a suggestion though.

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-23 00:33] fvcproductions opened #64 "Revamp resources page"
https://techqueria.org/resources/

Convert H1 headers to cards.

- DACA
- HealthCare and Urgent Care
- Job Hunting/Posting
- Latinx in Design - see #63

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-23 01:10] fvntr opened #65 "Update copy on about > team"
Update the about team section to include copy that mentions that this is a volunteer run organization

---

* [ x] Checked to see if the issue has already been discussed before 🤔️
* [ x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-23 01:11] fvntr commented on #65
I can take this one

[2018-09-23 01:11] fvntr commented on #63
I can take this please assign

[2018-09-23 02:55] fvcproductions commented on #63
@dvidsilva I think in order to have @fvntr assigned, he needs to be a contributor or GitHub settings need to be changed - not sure.

[2018-09-23 03:17] dvidsilva commented on #63
@fvcproductions just added him to the org

[2018-09-24 10:46] #64 closed

[2018-09-28 02:38] fvcproductions commented on #54
@technomoda created a Google Form for this - can you link this so we get this added in? 😄

[2018-09-28 02:39] fvcproductions commented on #42
Verified on Facebook - turns out it just needed to be scraped again!

![screenshot 2018-09-27 19 39 19](https://user-images.githubusercontent.com/4284691/46185009-0c756e80-c28d-11e8-808e-2a310a38faf2.jpg)

[2018-09-28 02:39] #42 closed

[2018-09-28 02:40] fvcproductions commented on #7
@dvidsilva feel free to close out this issue once we verify the logos are consistent across all online techqueria communities

[2018-09-28 02:42] fvcproductions commented on #6
This was done so I will close and create a separate issue for Startup Weekend Latinx NYC 2018 event

[2018-09-28 02:42] #6 closed

[2018-09-28 02:44] fvcproductions opened #68 "Add Startup Weekend Latinx NYC 2018 to stock photos"
Add to https://techqueria.org/about/photos/

Photos need to be added to Google Photos album: https://drive.google.com/drive/folders/13uCPF4T_MkOcWfrwPXZ8AsDW6fHL8lgO

Originally from: #6

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-09-28 02:48] #40 closed

[2018-09-30 04:40] fvntr commented on #63
https://github.com/techqueria/website/pull/70

[2018-09-30 05:09] fvntr commented on #65
https://github.com/techqueria/website/pull/71

[2018-09-30 05:10] fvntr commented on #53
https://github.com/techqueria/website/pull/71

[2018-09-30 05:11] fvntr opened #72 "Add InformedK12 event photos to the site"
Need to add the most recent event photos
Also need to check if videos have been uploaded

---

* [x ] Checked to see if the issue has already been discussed before 🤔️
* [x ] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-06 08:56] #63 closed

[2018-10-06 08:59] fvntr opened #73 "Company Logo Width from some cards are cut off"
See attached
<img width="766" alt="screen shot 2018-10-06 at 16 54 34" src="https://user-images.githubusercontent.com/1316570/46569529-197b1780-c989-11e8-8b69-4dc16db8127f.png">

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-08 18:58] #65 closed

[2018-10-08 18:59] #56 closed

[2018-10-08 19:00] fvntr commented on #45
can we do this for the event on the calendar as well?

[2018-10-08 19:02] fvntr opened #74 "reopen store"
we should reopen/create an online store for merch

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-08 19:03] fvntr commented on #12
@dvidsilva tried getting access to this but the password isnt working

[2018-10-08 19:22] fvcproductions commented on #72
Who has access to these photos/videos? Let's assign that person to this issue. 😄

[2018-10-08 19:23] fvcproductions commented on #72
Also for the checks - it's `[x]`

[2018-10-08 19:27] fvntr commented on #72
currently informedk12. sent an email asking

[2018-10-08 22:31] fvntr commented on #74
we can do use the prev existing store or look into another option

[2018-10-08 22:35] fvntr opened #75 "Create page highlighting the organization and member's open source projects"
We should include a section that highlights techqueria's open source projects and open source projects that are run by members as well as a form requesting that their projects be added to this section
---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-09 03:58] joaoluizn commented on #73
I'm going to work on this :)

[2018-10-09 16:35] fvcproductions commented on #75
@fvntr Let's make sure to add labels to any new issues created so folks have an idea of what it entails. Thanks! 👍

[2018-10-09 16:43] fvcproductions opened #77 "Close beta.techqueria.org"
Let's discontinue beta.techqueria.org so there's only one source of truth when it comes to the new website! 👍

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-09 18:31] #77 closed

[2018-10-09 19:28] fvntr commented on #75
cool. can we get a list going?

[2018-10-09 20:45] kylemh commented on #75
👋 I maintain https://github.com/OperationCode/front-end and obviously there's a huge presence of latinx within the United States military ❤️

[2018-10-11 04:19] fvntr commented on #54
Yes I will take care of this. Where do you think the best place to add it is?  @technomoda

[2018-10-11 04:34] fvntr commented on #74
@dvidsilva was it at shopify?

[2018-10-11 05:41] dvidsilva commented on #74
We've never had a store. I ran a teespring campaing once that virtually no one bought into. Feel free to open whatever you'd like

[2018-10-11 23:48] fvntr opened #78 "Include 10/17 Mixpanel event to Event"
Add mixpanel event
---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-13 01:02] fvcproductions commented on #74
For reference: https://teespring.com/shop/techqueria

[2018-10-16 22:54] technomoda commented on #54
Hey @fvntr
Ideally I'd like to have it on the nav bar, top right.
Move the Sponsor link to the right so it's not on there twice.
Is there a difference between sponsors and hosts?
Also can we bring the <p>, and menu link font size to something smaller like 16px?

What do you think of this?
*the twitter and fb buttons can be moved to the bottom for now, maybe
<img width="603" alt="screen shot 2018-1

[2018-10-17 04:50] dvidsilva opened #81 "Code of conduct at previous url is missing"
The old website had a code of condut at this url https://techqueria.org/code-of-conduct/ and now is missing, so old links and new internal links result in a 404.

We can duplicate the code of conduct info to appear here, or fix the new links to point to the new url

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure eno

[2018-10-17 04:51] dvidsilva commented on #7
Going to close this for now so is less confusing, we can fix the remaining logo locations over time.

[2018-10-17 04:51] #7 closed

[2018-10-17 04:53] dvidsilva commented on #78
merged the PR but still missing to be added as sponsors so we'll keep this open. Going to bed now, good work

[2018-10-17 04:54] fvntr commented on #78
ill make a separate issue for sponsor, its a good ticket for a new contributor to pickup

[2018-10-17 04:55] #78 closed

[2018-10-17 04:56] #53 closed

[2018-10-17 04:59] fvntr commented on #38
I think this is a great idea. How were you thinking? I'd still like to use medium.

[2018-10-17 05:04] fvntr commented on #54
I like that this call to action is one of the first things that a person sees on the page
How would you include it on a smaller screen size (attached for reference)

<img width="325" alt="screen shot 2018-10-16 at 22 02 23" src="https://user-images.githubusercontent.com/1316570/47063248-34bb0380-d18f-11e8-9826-9ea9841f7d2f.png">

[2018-10-17 05:07] fvntr commented on #12
I got ya @fvcproductions

[2018-10-17 05:09] fvntr commented on #10
@techqueria/website I think this should be closed until enough specs are gathered

[2018-10-17 06:32] fvntr opened #82 "Past events shouldnt have an 'rsvp now' button"
---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-17 06:36] fvntr opened #83 "Event title should have ellipsis after a certain word length"
Instead of having the entire title for event which causes different heights for the card headers, lets use a two line height limit with and ellipses to indicate the title is longer in cases where it is.

<img width="649" alt="screen shot 2018-10-16 at 23 34 25" src="https://user-images.githubusercontent.com/1316570/47066789-10b1ef00-d19c-11e8-991a-14cdacd991c2.png">

---

* [ ] Checked to see if t

[2018-10-17 07:39] #81 closed

[2018-10-17 21:15] technomoda commented on #54
<img width="284" alt="screen shot 2018-10-17 at 2 12 11 pm" src="https://user-images.githubusercontent.com/11223564/47116634-07199d00-d217-11e8-852a-d289d29c7c17.png">
<img width="283" alt="screen shot 2018-10-17 at 2 12 19 pm" src="https://user-images.githubusercontent.com/11223564/47116635-07199d00-d217-11e8-8d15-1fb77a8b927e.png">

What do you think about this? @fvntr

[2018-10-18 02:37] fvcproductions opened #86 "Add on more GitHub Marketplace integrations"
I propose adding more useful GitHub integrations from the [Marketplace](https://github.com/marketplace) like the following:

- Imgbot https://github.com/marketplace/imgbot (optimizes images, highly recommended)
- AccessLint https://github.com/marketplace/accesslint (flags accessibility issues, highly recommended)

- CodeFactor https://github.com/marketplace/codefactor (highly recommended)
- Codebe

[2018-10-18 02:44] fvcproductions opened #87 "Update contributing guidelines for scalability"
- Should encourage the use of Waffle.io: https://waffle.io/techqueria/website
- Should dictate best GitHub and coding practices
- Should break down different folders and what they represent better
- Should set up better guidelines on how to turn to for help or questions

![screenshot 2018-10-17 19 41 33](https://user-images.githubusercontent.com/4284691/47128065-ac973580-d244-11e8-887e-4d56829d1e2

[2018-10-18 06:55] fvntr opened #88 "Replace stock photos in the communities page with event photos"
The stock photos of cities look nice but we have enough quality event to replace the stock photos and give this page a more personal touch

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-18 06:56] fvntr commented on #73
Closing this for now, we still have the informedk12 logo pending will create a new issue for that

[2018-10-18 06:56] #73 closed

[2018-10-18 07:02] fvntr commented on #54
we would need two additional forms for host and sponsor

[2018-10-18 07:02] fvntr commented on #54
the design looks good though, I like that yellow

[2018-10-18 07:15] axhon commented on #88
I can take this on, do you have the pictures available?

[2018-10-18 18:59] fvntr opened #89 "Add donation link that links to patreon account"
Link to patreon account
Where do you think the best place to put this on the site is?

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-18 19:00] fvntr commented on #88
We havent decided on which ones yet but the stock photos are a good place to start looking. I will be updating those this weekend

[2018-10-19 04:56] fvntr commented on #82
https://github.com/techqueria/website/pull/91

[2018-10-19 05:29] fvntr commented on #72
https://github.com/techqueria/website/pull/92

[2018-10-19 05:30] fvntr commented on #88
@axhon just added some photos, feel free to chose any from there. we still need a photo album from la

[2018-10-19 05:37] fvcproductions commented on #89
We can put in on the bottom of every single page or just on the Contact Page - depends on how much visibility we want to give it.

Can you link the Patreon account here so someone can take a look at it?

As for the design, we would just use or something similar - I already have the asset.

![Patreon](https://d33wubrfki0l68.cloudfront.net/32965feaabf61f1968d917d67cc32d3e041d7351/c2f38/assets/img/do

[2018-10-19 05:45] fvcproductions commented on #86
They sure are! 😄 (I don't like paying for stuff)

[2018-10-19 05:47] fvcproductions commented on #83
Hmmm, is it that big of a deal that they're different heights? Cause if we have a cutoff, then they won't be able to see the entire title and get the proper context.

Instead, we could open a PR that would shorten the really long titles.

[2018-10-19 05:53] fvntr commented on #83
yeah that works, like 10 word limit or something

[2018-10-19 05:54] fvntr commented on #89
awesome. yeah I just made an account at patreon.com/techqueria

[2018-10-19 05:56] fvntr commented on #86
lets do them then, what admin creds do you need?

[2018-10-19 06:11] fvcproductions commented on #38
Medium is great but the site would get more traffic since the blog posts are all hosted in the same place.

It also allows for more customization like an email newsletter section at the bottom of every blog post.

We could also automate the sharing of blog posts and events so that anytime there is a new one created, it will take the updated RSS feed and can share to Twitter, Facebook, LinkedIn, et

[2018-10-19 06:11] fvcproductions commented on #38
Users are also more likely to explore rest of Techqueria website since they are not leaving the site for Medium.

[2018-10-19 06:13] fvcproductions commented on #10
@dvidsilva Will close for now as @fvntr mentioned - feel free to reopen with more deets tho. 👍

[2018-10-19 06:13] #10 closed

[2018-10-19 06:15] fvcproductions commented on #75
This can be put under "resources" section for now within an "Open Source" folder.

Ergo, I think we should open a PR with @kylemh Operation Code repo cause it's a great org. As we get more orgs up, we can add them on too.

[2018-10-19 09:05] SneX13 commented on #31
I can take this one @dvidsilva
I need a link to Gina's img and LinkedIn profile, as well as "description" (work title, I assume).
And if you have more testimonials ready, I can add them as well.

[2018-10-19 17:21] dvidsilva opened #93 "test"
Insert description of issue here

---

* [ ] Checked to see if the issue has already been discussed before 🤔️
* [ ] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-19 17:21] #93 closed

[2018-10-19 23:10] ejbryant28 commented on #83
Hi! Can I claim this issue? It'll be my first open source contribution :)

[2018-10-20 23:53] fvcproductions commented on #83
@ejbryant28 Yes, feel free to take this on! 😄

The PR would just be shortening the titles that are a bit long.

Let us know if you have any questions!

[2018-10-21 22:45] fvntr opened #95 "create a secition and e-mail specifically for website feedback"
We should have a sections that has contact info/form specifically for website feedback
This should be separate from organizers@ contact info

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-22 01:20] fvntr opened #96 "Add Andrea Cardona to Austin"
Andrea Cardona
https://www.linkedin.com/in/andrea-cardona

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-22 01:22] fvntr opened #97 "Add Andrea Cardona to Austin"
https://www.linkedin.com/in/andrea-cardona
---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-22 02:03] fvcproductions commented on #95
This would be a great issue for beginners.

I envision a simple contact form using Netlify forms (https://www.netlify.com/docs/form-handling/) or Formspree (https://formspree.io/).

The form elements for Bulma can be found here: https://bulma.io/documentation/form/general/

[2018-10-22 02:07] fvntr opened #98 "Replace linkedin links with a short internally hosted bio of each organizer"
We should have a section that has a short bio of all organizers with the links to their social media if they want instead of just a link to to their linkedin.

That way people on the site can find out more about each of us without navigating outside of the site.
Its also a good opportunity to share our connection to this space and what each of us are passionate about.

---

* [x] Checked to see if

[2018-10-22 02:09] fvntr opened #99 "test"
test
---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-22 02:09] fvntr commented on #99
test

[2018-10-22 07:24] fvntr opened #100 "change wording on div near footer on home page"
"Whether you just got here last week or your family has been in the country for decades, we have a lot to share and be proud of."

cause some latinxs have been here longer than decades

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-22 16:50] #97 closed, assigned to nobody

[2018-10-22 16:51] fvntr commented on #96
https://github.com/techqueria/website/pull/102

[2018-10-22 16:52] fvntr commented on #98
we need to collect these

[2018-10-23 02:10] darrylbalderas commented on #45
Maybe a taco emoji to distinguish partner events from official events 🤔. I'm not quite sure.
<img width="764" alt="screen shot 2018-10-22 at 7 06 49 pm" src="https://user-images.githubusercontent.com/10657206/47330658-e34ac280-d62d-11e8-9a47-ce78fcfe97b5.png">

<img width="1325" alt="screen shot 2018-10-22 at 6 48 36 pm" src="https://user-images.githubusercontent.com/10657206/47330659-e5148600-d62

[2018-10-24 17:41] #96 closed

[2018-10-24 19:53] dvidsilva opened #103 "Change headings into named anchors in the slack page"
We used to have a page with instructions on how to use slack, now that is a single page, it would be good to have them be anchor links so that we can invite users to check that particular section, to get informed about code of conduct, local channels, or things like that

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to be added, made su

[2018-10-24 21:37] fvntr commented on #89
https://github.com/techqueria/website/pull/94

[2018-10-24 21:37] #89 closed

[2018-10-24 21:38] #82 closed

[2018-10-25 00:52] YourMobileGeek commented on #100
Just doubled checked I believe this was already updated in the footer, right?

[2018-10-25 01:00] YourMobileGeek commented on #43
I can help out with switching out the homepage image! Has an high-res image been selected yet?

[2018-10-25 03:10] #103 closed

[2018-10-25 03:10] dvidsilva commented on #103
@FlyFishingbarbara oh sorry I was in Mobile and didn't notice. Thanks!

[2018-10-25 17:40] ceecodes commented on #95
Hello,

I believe I can assist with creating form. Shall I submit a PR?

[2018-10-25 18:12] fvcproductions commented on #43
@dvidsilva Do you have a preference? Otherwise, I can choose one from the stock photos we have?

@YourMobileGeek Thanks so much for volunteering to do this! 😄

[2018-10-25 18:14] fvcproductions commented on #68
@dvidsilva Could these images be transferred to a Google Photos album? If you don't have the bandwidth, happy to do this as well.

@YourMobileGeek Once we have these photos in a Google Photos album that a Techqueria admin owns, we can link them to a new page like in this PR: https://github.com/techqueria/website/pull/92

[2018-10-25 18:15] fvcproductions commented on #95
@ceecodes Yes, please - feel free to use the Bulma forms documentation as referenced and let us know if you have any questions, comments or concerns - we're happy to help you help us. 😄

[2018-10-25 18:15] dvidsilva commented on #43
None preference @fvcproductions

[2018-10-25 18:16] fvcproductions commented on #95
This is a good example (taken from my website)

https://raw.githubusercontent.com/fvcproductions/fvcproductions.github.io/production/site/content/contact.md

[code]

[2018-10-25 18:30] dvidsilva commented on #68
yes i can do it! @fvcproductions

[2018-10-25 18:31] fvcproductions commented on #43
@dvidsilva Thinking maybe a hero carousel would be cool but I like

https://drive.google.com/open?id=1inzalQW1ZfXLJrLbHXn0tJhoansGw5Ho

I am also trying to get pictures from the Oakland event to see if there's any good group photos from there. 😄

[2018-10-25 18:33] dvidsilva commented on #43
@fvcproductions that one is beautiful we can crop the top and bottom a little maybe.

I don't love carousels, but if you think that's a good idea go for it

[2018-10-25 18:39] fvcproductions commented on #86
@dvidsilva @fvntr I was given admin access so I'm going to go ahead and add the integrations I think would be most useful. Will open a PR later this week to test it out and make sure everything is good to go. 👍

[2018-10-25 18:50] fvcproductions opened #105 "Verify domain for GitHub"
This way, we can get a verified check for our GitHub org. ✅

https://github.com/organizations/techqueria/settings/domains

I would do this but it looks like we're not using Netlify DNS for domain configuration - would this be something you're open to transitioning to @dvidsilva? Otherwise, could you let me know which domain provider we're using so I can note that in docs somewhere later? 😄

I use

[2018-10-25 18:51] fvcproductions commented on #100
@fvntr This was already done so I'm going to close the issue! 👍

Thanks for checking @YourMobileGeek!

[2018-10-25 18:53] fvntr commented on #100
Did you want to take this @YourMobileGeek

[2018-10-25 18:58] dvidsilva commented on #68
@fvcproductions  https://photos.app.goo.gl/QooxpXvb9s3f2t6V9  done

[2018-10-25 19:01] dvidsilva commented on #105
there's a lot of dns settings like for G Suite and the sort, so I just added it on cloudflare :D is verified now

[2018-10-25 19:01] #105 closed

[2018-10-25 19:12] fvcproductions commented on #105
Gotcha - no worries

[2018-10-25 19:16] fvntr commented on #105
Can you put those creds in the password manager so @fvcproductions can have access

[2018-10-25 21:08] YourMobileGeek commented on #68
@fvcproductions Sounds like a plan! 👍

[2018-10-25 21:11] YourMobileGeek commented on #100
@fvntr Yes I can go ahead and take this issue on! Is there a preferred wording/context for the footer that I can reference?, want to be sure I don't say anything that's improper.

[2018-10-25 21:51] YourMobileGeek commented on #43
@dvidsilva @fvcproductions Just submitted a pull request for this issue: #108

[2018-10-26 08:20] fvntr opened #113 "New Image makes heading a bit hard to read"
Lets add a light background color to the text so its easier to read, something like this:
<img width="1085" alt="screen shot 2018-10-26 at 01 18 23" src="https://user-images.githubusercontent.com/1316570/47553935-1a82d300-d8bd-11e8-8065-5c9c12438fdd.png">
Insert description of issue here

---

* [x] Checked to see if the issue has already been discussed before 🤔️
* [x] If proposing new content to

[2018-10-26 08:25] fvntr opened #114 "Change the Copyright 2016-2018"
change copyright 2016 -2018 to something simpler like est. 2016
<img width="269" alt="screen shot 2018-10-26 at 01 24 24" src="https://user-images.githubusercontent.com/1316570/47554335-f5429480-d8bd-11e8-9044-dbdf69c00734.png">

---

* [ ] Checked to see if the issue has already been discussed before 🤔️
* [ ] If proposing new content to be added, made sure enough details were provided 🔍️

[2018-10-27 00:41] ejbryant28 commented on #83
I made the pull request! Thanks for your patience. First time working with node, took a bit of work to figure out how to set it up.

[2018-10-27 00:42] ejbryant28 commented on #83
I truncated the titles at 50 characters rather than 10 words. Is that ok?

[2018-10-27 00:42] fvcproductions commented on #83
If you have any suggestions for how to improve the contributing guide, do let us know @ejbryant28! 😄

Will look over PR now.

[2018-10-27 00:46] ejbryant28 commented on #83
I had trouble with a lot of the node modules being out of date and/or incompatible. What ended up working was uninstalling everything and then reinstalling it all.

[2018-10-27 00:46] ejbryant28 commented on #83
I'm not sure if that can go in the contributing guide or if it's just a matter of my inexperience

[2018-10-27 02:51] YourMobileGeek commented on #114
@fvntr I can go ahead and take on this issue.

[2018-10-27 04:07] YourMobileGeek commented on #114
Went ahead and submitted a PR for this for the time being. #143

[2018-10-27 05:30] fvcproductions commented on #31
@dvidsilva Any update on Gina's info?

[2018-10-27 05:30] #75 closed

[2018-10-27 05:30] fvcproductions commented on #98
This is a great idea but yeah first we need to collect all their profile picture images.

[2018-10-27 05:32] #43 closed

[2018-10-27 05:38] fvcproductions commented on #98
Would look similar to https://techqueria.org/testimonials/

[2018-10-27 06:54] #87 closed

[2018-10-27 07:21] #114 closed, assigned to nobody

[2018-10-28 01:09] fvcproductions opened #153 "Set up forms through Netlify with Slack notifications"
## Is your feature request related to a problem?

Nope.

## Describe the solution you'd like

Netlify Forms to onboard new members and track leads for sponsors and speakers, etc.

Every new response will send a Slack message to a certain channel like below.

![Slack + Netlify](https://cdn.netlify.com/48811b9765cdb67b0411f4709a8cd749af7402fe/8a45a/img/blog/netlify-slack-form-notifications.png)

##

[2018-10-28 05:37] fvntr opened #154 "Header nav should be dropdown navigation bar to help navigate the site"
## Is your feature request related to a problem?
Its hard to some parts of the site like resources, it would be easier if the header nav had a dropdown for each section that related to it

Want to access resources/press without having to scroll down page

## Describe the solution you'd like
Dropdown navigation bar

Dropdown navigation bar for header

## Describe alternatives you've considered
Link

[2018-10-28 21:24] fvntr opened #156 "Sponsor cards should link to more event information instead of being external links"
## Is your feature request related to a problem?

Sponsor links are directing to the companies site. We should be giving more details about the events we held at those places and the nature of our relationship.

## Describe the solution you'd like

Sponsor card should reveal more info about events we've held at those places

## Describe alternatives you've considered

N/A

## Additional context

N

[2018-10-28 23:53] fvntr opened #157 "Add mixpanel to sponsors"
## Is your feature request related to a problem?
Need to add Mixpanel since they hosted 10/17 event in sf

## Describe the solution you'd like
Mixpanel logo on event sponsor section

## Describe alternatives you've considered
N/A

## Additional context
![51979f85d525c50d99b44fd377fa4a3c9a258f01](https://user-images.githubusercontent.com/1316570/47623719-f3e9b580-dad1-11e8-9b2e-7c0aa595c211.png)

[2018-10-29 13:03] fvntr commented on #98
we can use linkedin photos for now

[2018-10-29 14:13] fvntr opened #158 "Redesigning community list"
## Is your feature request related to a problem?
No

## Describe the solution you'd like
Use logos instead a wall of text

## Describe alternatives you've considered
None

## Additional context
We could have it divide like this on the horizontal or vertical with national platform logos taking their own space:

SF
[logo] [logo] [logo]
LA
[logo] [logo] [logo]
NY
[logo] [logo] [logo]

<img width="203

[2018-10-30 00:36] TiffanieJ commented on #154
/request Hi - can I tackle this one

[2018-10-30 01:37] ejbryant28 commented on #157
Can I take this issue?

[2018-10-30 02:06] fvntr commented on #157
Yes its yours @ejbryant28

[2018-10-30 02:06] fvntr commented on #154
Yes its yours @TiffanieJ

[2018-10-30 06:13] cclaro commented on #154
@fvntr pull-request added, thanks.

[2018-10-30 20:28] darrylbalderas commented on #156
Maybe to upcoming eventbrite events hosted by that sponsor 😜

[2018-10-31 13:49] Bedrock02 commented on #98
Also do we want to keep this new content under the about page? Or should we have a submenu with About and another one with Team. Keeping the more about us section on the bottom of both pages.

[2018-10-31 17:14] fvntr commented on #98
there is no branch as of now. I think the about page is getting too busy so your ideea of having a submenu is good. Thoughts @fvcproductions @dvidsilva

[2018-11-01 00:15] fvcproductions opened #161 "Add Bay Area Resources for Latinx Entrepreneurs"
## Is your feature request related to a problem?

N/A

## Describe the solution you'd like

A dedicated page with cards that link to the different resources for Latinx entrepreneurs

https://techqueria.org/resources/entrepreneurship or https://techqueria.org/resources/startups

## Describe alternatives you've considered

N/A

## Additional context

- https://medium.com/@jackiehyland/bay-area-resou

[2018-11-01 00:36] fvntr commented on #161
this list is great thanks for sharing

[2018-11-01 14:19] Bedrock02 commented on #98
Maybe something like this???
Just an example.
https://github.com/techqueria/website/pull/162

[2018-11-01 14:21] Bedrock02 commented on #98
It creates a page "Organizers" with sections for each region (NY, LA, Austin, Bay Area ). Upon click we would have a page with an individual section for each organizer based in that chapter.

This approach takes the same layout as testimonials.

[2018-11-05 04:55] YourMobileGeek commented on #100
Went ahead a created a pull request for this: #165

[2018-11-05 05:03] YourMobileGeek commented on #31
@dvidsilva @SneX13 Was there any update on this by chance? 👀

[2018-11-05 05:20] YourMobileGeek commented on #38
@fvcproductions @fvntr I recently heard about this site generator called Gatsby that's great for making starter blog if we decide to navigate away from Medium

[https://github.com/gatsbyjs/gatsby-starter-blog](https://github.com/gatsbyjs/gatsby-starter-blog )

[https://medium.freecodecamp.org/how-to-build-a-react-and-gatsby-powered-blog-in-about-10-minutes-625c35c06481](https://medium.freecodecamp

[2018-11-05 05:54] fvntr commented on #100
Thanks @YourMobileGeek !

[2018-11-05 05:55] #100 closed

[2018-11-05 06:03] fvntr opened #166 "Internationalization for site"
## Is your feature request related to a problem?

No

## Describe the solution you'd like

I would like to be able to see the site in Spanish

## Describe alternatives you've considered

N/A

## Additional context

It would be great to build the foundation for this site to be in many languages

[2018-11-05 06:04] fvntr commented on #166
Relevant links:
https://gohugo.io/functions/i18n/
https://gohugo.io/content-management/multilingual/
https://gohugo.io/templates/
https://learn.netlify.com/en/cont/i18n/
https://github.com/gohugoio/hugo/tree/master/examples/multilingual

[2018-11-05 06:14] fvntr commented on #31
@SneX13  @YourMobileGeek
please use the following: https://www.linkedin.com/in/gina-giardinieri/

[2018-11-05 06:37] fvntr opened #168 "Some logos still cutoff on desktop"
## Describe the bug

Image for certain cards are cutoff.

## To Reproduce

Go to https://techqueria.org/resources/open-source/ and check operation code
Go to https://techqueria.org/sponsors/ and check yammer informedk12 and twilio

## Expected behavior

Logo with no cutoff

## Screenshots

## Environment

### Desktop

 - OS:  MacOS on Firefox

### Mobile

## Additional context

[2018-11-05 07:50] SneX13 commented on #31
@fvntr thank you, will do that. Sending PR later today @YourMobileGeek . Do you have more testimonials that should be added?

[2018-11-06 01:53] Ismael-Duran opened #171 "Non-working download link in Health Care section"
Non-working link **Download PDF** for "California Health Care Resource Guide ...." under Techqueria -> Resources -> Health Care
---

- [ x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [ x] Made sure enough details were provided if proposing a new feature 🔍️

[2018-11-06 05:31] fvntr commented on #31
I am closing this for now. We can gather these via a form on our site. WIll make an issue for that. Thanks @SneX13 for your work on this!

[2018-11-06 05:31] #31 closed

[2018-11-06 05:33] fvntr opened #172 "Create form to collect feedback/testimonials"
## Is your feature request related to a problem?
Currently there is no way to collect testimonials/feedback besides an email

## Describe the solution you'd like
A form to collect testimonials/feedback

## Describe alternatives you've considered
This can be a google form, collect through newsletter

## Additional context

[2018-11-06 05:50] fvntr commented on #171
Thanks Ismael for bringing this to our attention. Just made a pr

[2018-11-07 05:55] fvntr commented on #168
did you do npm install? pull from upstream and install since there were some module changes recently.

[2018-11-07 06:04] fvntr commented on #168
mixpanel is done
informedk12 and operation code are still pending

[2018-11-07 18:14] quahada opened #176 "Code of Conduct"
Our code of conduct is here: https://techqueria.org/about/code-of-conduct/
But I couldn't reach the page from navigating the website, I had to use a search engine to get to the page. The CoC is pretty important for the health & safety of the community, so it should be easy for users to find!

[2018-11-07 21:13] fvcproductions opened #177 "Add Gitter space to README/Contributing"
As we scale our open source efforts, I realize there are some people who are not part of Techqueria's Slack community so I created a Gitter space for those who want more asynchronous communications for questions/ideas.

https://gitter.im/techqueria/Lobby

A badge link to our new Gitter space needs to be added to the README/Contributing docs.

---

- [x] Checked to [see if the issue has already bee

[2018-11-07 21:14] ejbryant28 commented on #156
I think this would be a big improvement to the website. I'd be happy to do it if someone describes what event information I should include/where to get it.

[2018-11-07 21:16] ejbryant28 commented on #156
Should it be the same as the 'more info' button on the events page?

[2018-11-08 02:09] fvntr commented on #171
Resolved

[2018-11-08 02:09] #171 closed

[2018-11-08 04:19] WilliamMena commented on #172
I haven't used google forms all that much but I saw that there should be a way to embed it into the website. So maybe that can be an option. Or just linking to the form on the website as well to make it easy lol.

[2018-11-08 17:13] YourMobileGeek commented on #168
<img width="1014" alt="screen shot 2018-11-08 at 12 04 40 pm" src="https://user-images.githubusercontent.com/8063614/48215198-b72e8180-e34f-11e8-9702-61bd6418802f.png">

Yup, that's the first thing I thought about doing and it's recognizing the updates made to the project. I even referenced this for syncing a fork ( [https://help.github.com/articles/syncing-a-fork/](https://help.github.com/article

[2018-11-08 17:34] fvntr commented on #168
ok have your tried rm -rf node_modules
then doing an npm install

[2018-11-08 17:38] darrylbalderas commented on #176
Maybe we should add a link in the footer sitemap to point to the code of conduct

[2018-11-08 19:00] estebanuribe opened #181 "Add techqueria.org/la-events"
We'd like to have the LA Chapter's Community Events calendar listed under techqueria.org/la-events

Here's the link to the community calendar:  https://calendar.google.com/calendar/embed?src=u2irek78d7kkavrli3n4cicirc@group.calendar.google.com&ctz=America/Los_Angeles

[2018-11-08 19:03] fvcproductions opened #182 "Improve documentation for npm errors"
See #168 - we need better guidelines for when a contributor is facing issues.

Ideally, we just add a section on `CONTRIBUTING.md` on how to troubleshoot.

---

- [x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [x] Made sure enough details were provided if proposing a new feature 🔍️

[2018-11-08 19:14] YourMobileGeek commented on #168
Yup that actually worked for me, so odd. Thanks for your patience too!

[2018-11-08 19:43] fvcproductions opened #183 "Add more useful Slack integrations"
## Is your feature request related to a problem?

N/A

## Describe the solution you'd like

### An onboarding bot and other Slack integrations that will enhance our community on Slack

https://aloha.ftw.nyc/

#### Supplemental material for onboarding

https://slackfoundry.builtbyslack.com/

https://slackdemo.com

https://get.slack.help/hc/en-us/articles/115004378828-Onboard-your-company-to-Slack-#

[2018-11-09 05:04] YourMobileGeek commented on #168
Fixed informedk12 and operation code logo and submitted a PR request: #184

[2018-11-09 21:14] YourMobileGeek commented on #161
I can take this issue on, starting working on this locally.

[2018-11-09 22:19] fvntr commented on #161
Awesome! Thanks Ariana

[2018-11-10 04:38] fvcproductions commented on #38
@YourMobileGeek Hugo works great for this as well and we can bake it right in! 😄

@dvidsilva Would you be okay with us making this transition from Medium to self hosted on https://techqueria.org? What are your thoughts on this?

If it's cool, I think we should move forward with copying existing blog posts and transferring them to https://techqueria.org.

[2018-11-10 04:39] fvntr commented on #38
lets migrate the existing blog posts @fvcproductions

[2018-11-10 04:39] fvcproductions opened #185 "Fix redirects"
## Describe the bug

https://techqueria.netlify.com and https://beta.techqueria.org do not redirect to https://techqueria.org right now

## Additional Context

This may because of how the domain is set up right now but I'm not 100% sure

[2018-11-10 04:41] fvntr opened #186 "Adding mental health resources"
## Is your feature request related to a problem?

No

## Describe the solution you'd like

Adding mental health resources to health resources
https://therapyforlatinx.com/
https://www.counselingandtraumatherapy.com/bienvenidos

## Describe alternatives you've considered

n/a

## Additional context

n/a

[2018-11-10 05:29] fvcproductions commented on #172
@fvntr @WilliamMena This would be best as a Netlify form because of the integrations - related issues are #153 #95

[2018-11-10 05:30] fvcproductions commented on #172
Let's make sure to get the form fields/design set up too so it's easier for assigned contributor to work on this once we setup our first Netlify form 😄

[2018-11-10 05:51] fvntr commented on #54
will tackle this and #172 in parralel

[2018-11-10 05:51] fvntr commented on #172
will work on this and #54 in parralel

[2018-11-10 06:00] fvntr commented on #74
working on it. will be up before black friday :D

[2018-11-10 06:01] fvntr commented on #158
@WilliamMena any further work on this needed?

[2018-11-10 14:58] WilliamMena commented on #158
I think after our discussions we landed on keeping it like this. So we can
close the issue.

On Sat, Nov 10, 2018, 1:01 AM Phillip Ventura <notifications@github.com
wrote:

[2018-11-11 01:01] fvntr opened #188 "Add Housing/Tenant Rights related info to resources"
## Is your feature request related to a problem?

No

## Describe the solution you'd like

Expand resources to include housing

## Describe alternatives you've considered

n/a

## Additional context

Resources like the following: https://cjjc.org/know-your-rights/tenant-rights/

[2018-11-11 01:08] fvntr opened #189 "Add techqueria open-source initiatives under open-source in resources"
## Is your feature request related to a problem?
No

## Describe the solution you'd like

Include the following projects under open-source in resources:

* https://github.com/techqueria/website
* https://github.com/techqueria/data-and-algorithms
* https://github.com/techqueria/frackmap

## Describe alternatives you've considered

N/A

## Additional context

[2018-11-11 07:41] fvcproductions commented on #183
Look into Slackbot responses and update them (like for COC).

Take pinned items and add them to website:

https://docs.google.com/spreadsheets/d/1bWOCvcRUtQv8DCtTE2lfXEw2QYVJOJSb66zTmk6SeTo/edit#gid=0

[2018-11-11 07:41] fvcproductions commented on #183
Latinas in Tech: https://docs.google.com/spreadsheets/d/182yCXP8p-rM6yWD57oAZ9aDFJG5LkrZB_CD5eWAdCs4/edit#gid=634347005

[2018-11-11 17:34] #158 closed

[2018-11-11 17:35] fvntr commented on #154
I will finish adding the last details on this @cclaro
Thank you for your contribution

[2018-11-11 22:34] ejbryant28 commented on #156
I can work on a general template and fill it with vague information for each company (like when they've hosted events) then over time you can add more detail. It might take me a little while to do though. I have limited experience with this framework

[2018-11-12 02:07] #182 closed

[2018-11-12 02:08] #177 closed

[2018-11-12 02:08] #181 closed

[2018-11-12 03:03] fvntr commented on #38
closing this

[2018-11-12 03:03] #38 closed

[2018-11-12 03:04] fvntr opened #193 "Migrate remaining blog posts from medium to site"
## Is your feature request related to a problem?

Migrate remaining blog posts from medium to site

## Describe the solution you'd like

Medium posts should be on the site now

## Describe alternatives you've considered

n/a

## Additional context

https://blog.techqueria.org/

[2018-11-12 03:16] #176 closed

[2018-11-12 03:16] fvcproductions commented on #157
This was done!

[2018-11-12 03:16] #157 closed

[2018-11-12 05:10] #153 closed

[2018-11-12 05:17] fvcproductions commented on #95
This was handled but we need to setup Slack notifications in Netlify still.

[2018-11-12 05:18] fvcproductions opened #195 "Add more resources to "Resources" page"
## Is your feature request related to a problem?

N/A

## Describe the solution you'd like

https://docs.google.com/spreadsheets/d/1bWOCvcRUtQv8DCtTE2lfXEw2QYVJOJSb66zTmk6SeTo/edit#gid=0

All of this goes to Resources page.

## Describe alternatives you've considered

N/A

## Additional context

This was a pinned item in the Slack.

[2018-11-12 05:20] fvcproductions opened #196 "Create Slack guidelines"
## Is your feature request related to a problem?

Yes, users in the Techqueria Slack need to be able to communicate more effectively.

## Describe the solution you'd like

A post describing our Slack Community Guidelines.

Should be a full on post describing threads, stars, pins, best practices, channel guidelines, etc.

slackhq.com/wp-content/uploads/2018/04/Channel-Naming-Conventions_v1.png

##

[2018-11-12 05:27] fvcproductions opened #197 "Transfer domain servers from Namecheap/Cloudflare to Netlify"
Ideally, the domain is handled entirely through Netlify to take advantage of their redirect domain features and it's easier in terms of permissions.

---

- [x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [x] Made sure enough details were provided if proposing a new feature 🔍️

[2018-11-12 05:31] fvcproductions commented on #33
https://zapier.com/apps/google-forms/integrations/slack/11018/send-google-forms-responses-to-slack

This should be done with Techqueria Sign Up Form:

https://docs.google.com/forms/d/13BBMCZMwPr_tXeslVhVR8sWdQ8dAOhO9Xe7c90XGEjs/edit#responses

[2018-11-12 06:02] #12 closed

[2018-11-12 19:19] fvcproductions opened #201 "Quick updates"
Add people page to about page

Add correct newsletter link to home page

[2018-11-12 23:00] fvntr commented on #95
I was looking into this, there is no free option for it though

[2018-11-12 23:02] fvcproductions commented on #95
For Netlify forms, we get 100 submissions per month for free and that includes Slack notifications

[2018-11-13 05:29] fvcproductions commented on #185
This is being fixed in #202

[2018-11-13 06:05] dvidsilva commented on #185
Looks like that didn't work, we can move to managed DNS at netlify on a low visiting weekend that we decide on.

[2018-11-13 22:41] fvcproductions commented on #185
Gracias @dvidsilva for verifying this - how about this upcoming weekend or next weekend? I have bandwidth to help with this migration. Let me know what you think here or in Slack! 🙇‍♀️

[2018-11-13 22:51] dvidsilva commented on #185
@fvcproductions  The migration takes a second on the config side, but it might take down the website, email, and any service for a bit. Anything from 1 hour to 48. I can get it done whenever; but is better if done in a time where we don't expect a lot of visits or emails or so.

[2018-11-15 17:58] fvcproductions commented on #185
@dvidsilva Does November 21st work?

[2018-11-16 04:07] dvidsilva commented on #185
@fvcproductions sure

[2018-11-17 22:22] #168 closed

[2018-11-21 00:00] fvntr commented on #98
nobody has posted them here, but there scattered on the trello board
yeah in my opinion it makes sense I just dont think it should be a standalone page for each necessarily

[2018-11-21 00:02] fvntr commented on #98
I think that instead of the organizer cards hyperlinking to linkedin it should be we can have a list of social media links underneath depending which ones folks wanna share

[2018-11-26 17:43] fvntr opened #206 "Implement captcha on forms"
## Is your feature request related to a problem?

Yes. Spam.

## Describe the solution you'd like

Implement captcha on forms (should be a tag on form element see netlify form docs)

## Describe alternatives you've considered

n/a

## Additional context

n/a

[2018-11-27 00:07] YourMobileGeek commented on #161
@fvntr @fvcproductions Just remembered to mention that I went ahead and added the Bay Area Resources to the current pull request that has been pushed along with the updated logo sizing.
Pull Request: #184

[2018-11-27 00:15] YourMobileGeek commented on #189
@fvntr I can look into taking this issue on, if no one was was working on this. 👀

[2018-11-27 00:21] fvcproductions commented on #206
More info on implementation here: https://www.netlify.com/docs/form-handling/#custom-recaptcha-2-with-your-own-settings

[2018-11-27 00:48] YourMobileGeek commented on #186
@fvntr I could take this on, should be a quick update to apply.

[2018-11-27 06:35] fvntr commented on #45
Yeah that works for now but most of these events are hosted by us anyways.
The events that aren't already have other company's logo as part of the event advertisement.
Is this really an issue? I'm inclined to close unless we have received feedback to the contrary
@fvcproductions @dvidsilva thoughts?

[2018-11-27 06:35] fvntr commented on #88
@axhon are you still interested in doing this?

[2018-11-27 06:38] fvntr commented on #45
An easy way to fix this is to only have Techqueria hosted events on the events page
And we can put events organized by other organizations as part of the calendar

[2018-11-27 20:57] axhon commented on #88
Yes, I will get to this shortly. Sorry for the late response.

[2018-11-28 02:55] fvcproductions commented on #189
@fvntr Just a heads up, the `in progress` label should be added to issues to indicate someone is going to work on it. Thanks! 😄

https://github.com/techqueria/website/blob/master/.github/CONTRIBUTING.md#issue-tracker

[2018-11-28 03:13] fvcproductions commented on #45
I think it's worth differentiating but I also think it's a lower priority issue.

If I had the bandwidth, I would just add the front matter variable from earlier so that if it's true, it would add text ("Partner Event: ") in the title so partner events just had "Partner Event: XYZ" as the title.

[2018-11-28 07:27] fvntr opened #210 "Meetup Group is Actually National"
## Describe the bug

Meetup group in Bay Area Chapter page is actually not a local group anymore. It is being used by Chicago Chapter.

## To Reproduce

techqueria.com/communities/bay-area/

## Expected behavior

remove meetup group

## Screenshots

## Environment
All

### Desktop

All

### Mobile

All

## Additional context

n/a

[2018-11-30 04:33] YourMobileGeek commented on #186
Just created pull request for this issue: #211

[2018-11-30 07:10] YourMobileGeek commented on #161
@fvcproductions @fvntr Are we good to go on closing this issue?

[2018-11-30 20:14] YourMobileGeek commented on #189
@fvntr @fvcproductions Is there an alternative link for the third website url listed? It's outsourcing to a 404 error page.

[2018-12-01 04:35] #161 closed

[2018-12-01 04:36] fvcproductions commented on #189
@YourMobileGeek It was probably archived - I would ignore for now!

[2018-12-01 22:53] YourMobileGeek commented on #189
@fvcproductions okay sounds good, thanks! Just went ahead and created a pull request for the current active links. #213

[2018-12-02 21:05] fvcproductions opened #214 "Apply for 1Password team password manager (open source)"
## Is your feature request related to a problem?

Yes, we need a more efficient way to share passwords for Techqueria org stuff

## Describe the solution you'd like

Apply here: https://github.com/1Password/1password-teams-open-source

## Describe alternatives you've considered

Looked up a bunch of them and there are not many good options out there for team password managers. ☹️

We could upgrade

[2018-12-04 04:04] fvntr commented on #186
Resolved with https://github.com/techqueria/website/pull/211
thanks @YourMobileGeek !

[2018-12-04 04:04] #186 closed

[2018-12-04 04:06] fvntr commented on #214
Is this for site related creds only? @fvcproductions

[2018-12-04 21:40] andreancardona commented on #98
@fvntr

[https://docs.google.com/document/d/16jpFuuOEuwAHJJpSPMVxAGwORd3P6VCebucGUfJ6PJE/edit](url)

- so sorry for the delay!!
- The link above has my bio and photo

[2018-12-09 11:37] renovate[bot] opened #216 "Dependency deprecation warning: @fortawesome/fontawesome (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v1.1.8) of dependency `@fortawesome/fontawesome` has the following deprecation notice:

`This package is deprecated. See https://git.io/fNCzJ for information about upgrading.`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think

[2018-12-09 11:37] renovate[bot] opened #217 "Dependency deprecation warning: @fortawesome/fontawesome-free-brands (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v5.0.13) of dependency `@fortawesome/fontawesome-free-brands` has the following deprecation notice:

`This package is deprecated. See https://git.io/fNCzJ for information about upgrading.`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package auth

[2018-12-09 11:37] renovate[bot] opened #218 "Dependency deprecation warning: @fortawesome/fontawesome-free-solid (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v5.0.13) of dependency `@fortawesome/fontawesome-free-solid` has the following deprecation notice:

`This package is deprecated. See https://git.io/fNCzJ for information about upgrading.`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package autho

[2018-12-09 11:37] renovate[bot] opened #219 "Dependency deprecation warning: @fortawesome/fontawesome (nvm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v1.1.8) of dependency `@fortawesome/fontawesome` has the following deprecation notice:

`This package is deprecated. See https://git.io/fNCzJ for information about upgrading.`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think

[2018-12-09 11:37] renovate[bot] opened #220 "Dependency deprecation warning: @fortawesome/fontawesome-free-brands (nvm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v5.0.13) of dependency `@fortawesome/fontawesome-free-brands` has the following deprecation notice:

`This package is deprecated. See https://git.io/fNCzJ for information about upgrading.`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package auth

[2018-12-09 11:37] renovate[bot] opened #221 "Dependency deprecation warning: @fortawesome/fontawesome-free-solid (nvm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v5.0.13) of dependency `@fortawesome/fontawesome-free-solid` has the following deprecation notice:

`This package is deprecated. See https://git.io/fNCzJ for information about upgrading.`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package autho

[2018-12-14 23:33] YourMobileGeek commented on #210
I can take on this issue, seems like a quick fix in regards to removing the meetup group.

[2018-12-14 23:39] YourMobileGeek commented on #201
I can look into working on this issue! Just need a bit more info on the people you would like for me to add to the about page and the correct newsletter link.

[2018-12-15 02:34] fvntr commented on #210
great I will assign!
can you move it from bay area to https://techqueria.org/communities/ ?

[2018-12-15 02:34] fvntr commented on #189
Resolved w https://github.com/techqueria/website/pull/213

[2018-12-15 02:34] #189 closed

[2018-12-15 02:35] fvntr commented on #156
any update on this?

[2018-12-23 03:48] YourMobileGeek commented on #210
Just submitted a pull request: #226

[2018-12-28 02:30] fvcproductions commented on #201
@YourMobileGeek Actually I can work on this now! Thanks for offering! 😄

[2018-12-28 05:40] fvcproductions commented on #33
Requested access to spreadsheet, started app integration

[2018-12-28 06:02] fvcproductions commented on #195
Most of these were actually not resources so I just added a few podcasts

[2018-12-29 23:02] fvcproductions commented on #219
We are using the Font Awesome link in `styles.html` so these are actually unused dependencies.

[2018-12-29 23:02] #216 closed

[2018-12-29 23:02] #217 closed

[2018-12-29 23:02] #218 closed

[2018-12-29 23:02] #220 closed

[2018-12-29 23:02] #221 closed

[2018-12-29 23:02] #219 closed

[2018-12-31 06:00] fvcproductions commented on #33
https://zapier.com/app/editor/49083698/overview

Done, see #signups

[2018-12-31 06:02] fvcproductions commented on #206
Implemented captcha on contact form so folks can duplicate that - could argue styling could be better though for submit button

![screenshot 2018-12-31 01 01 59](https://user-images.githubusercontent.com/4284691/50555262-bc48e680-0c97-11e9-9b5c-64ecd8ef3718.jpg)

[2018-12-31 06:02] #206 closed

[2019-01-02 00:14] #45 closed

[2019-01-02 00:14] #154 closed

[2019-01-02 00:14] #166 closed

[2019-01-02 00:14] #195 closed

[2019-01-02 00:14] #196 closed

[2019-01-02 00:14] #201 closed

[2019-01-02 00:14] #210 closed

[2019-01-02 00:14] fvcproductions commented on #188
This was tackled in #228

[2019-01-02 00:14] #188 closed

[2019-01-02 00:15] #33 closed

[2019-01-13 03:39] fvcproductions opened #236 "i18n (Spanish translations)"
Right now, part of the website is translated in Spanish.

For example: https://techqueria.org/es/contact/

We would like to get the entire website translated.

How to contribute to translations are explained here: https://github.com/techqueria/website/blob/master/.github/CONTRIBUTING.md#translations

If you are bilingual and would like to contribute, let us know which page you would like to transl

[2019-01-14 00:47] fvcproductions commented on #214
@fvntr Could I get a `@techqueria.org` email to sign up for this? Or maybe you and someone with that email domain could? I think it would help with Techqueria's scalability if we had 1Password to manage all our different accounts.

[2019-01-14 00:51] fvcproductions commented on #98
@fvntr I think we should create separate issues to update the info for each organizer as we get their info and close this one for now. Will create a new issue for @andreancardona bio info.

[2019-01-14 00:59] fvcproductions opened #238 "Update bio info for Andrea Cardona"
Bio info was taken from #98

![screenshot 2019-01-13 16 58 23](https://user-images.githubusercontent.com/4284691/51093104-86563880-1754-11e9-9fc5-26243e334aed.jpg)

Andrea Cardona, Software Engineer @ Chipper.app

I am currently a full stack software engineer with a passion for bringing diversity to the programming community. After spending a few years in tech on the marking and sales side of San

[2019-01-14 00:59] #98 closed

[2019-01-14 01:00] fvcproductions commented on #74
@fvntr Any update on this? We could just add a new link to the store in navbar

[2019-01-14 02:36] fvntr opened #239 "Include python resources in resources page"
## Is your feature request related to a problem?

no

## Describe the solution you'd like

include this repo in https://github.com/techqueria/python-learning-resources/

## Describe alternatives you've considered

n/a

## Additional context

[2019-01-14 02:37] fvntr commented on #74
no store yet lets close for now.

[2019-01-14 02:37] #74 closed

[2019-01-16 07:49] #54 closed

[2019-01-16 07:49] #172 closed

[2019-01-17 04:57] dvidsilva opened #241 "Fixed the Insecure mixed content detected warning"
## Describe the bug

when deploying to netlify we're getting an error that mixed content is being served

## Expected behavior

All the images are served with https

## Environment

[code]

[2019-01-17 22:34] dvidsilva commented on #241
@fvcproductions  maybe related to this or not, but like in people, most images are not being served https://techqueria.org/people/

[2019-01-18 01:51] fvcproductions commented on #241
@dvidsilva Oops that's another issue entirely. The images are grabbed from LinkedIn and they've probably been called too many times from that page and are now no longer showing. Solution would be to just download the profile images from LinkedIn and serve them locally instead.

[2019-01-18 01:53] fvcproductions opened #244 "Upload people images locally"
Pulled in from the discussion in #241

## Describe the bug

On https://techqueria.org/people/, a bunch of images are not showing because they are URLs grabbed from LinkedIn and are probably no longer valid.

## Solution

Get the images of the organizers and host them locally in the `src/images` folder instead OR host them on an image sharing site like Imgur.

<img width="1398" alt="screen shot 201

[2019-01-18 01:54] dvidsilva commented on #241
Oh okay good point. I thought chrome finally decided to not serve mixed content.  Easy one then. I can try this weekend

[2019-01-28 22:54] fvcproductions opened #251 "Add Patreon to list of communities"
## Is your feature request related to a problem?

Yes, not enough people know you can become a Patreon for Techqueria

## Describe the solution you'd like

Patreon should be listed under "Communities" in navbar and footer

## Describe alternatives you've considered

N/A

## Additional context

N/A

[2019-02-03 00:04] fvcproductions commented on #244
@jose8a are you already working on this?

[2019-02-03 00:04] fvcproductions commented on #193
@jose8a we've just been copying the images/text manually 😬

[2019-02-03 00:05] fvcproductions commented on #251
Working on this

[2019-02-03 00:05] fvcproductions commented on #238
working on this

[2019-02-03 00:06] fvcproductions commented on #244
If not, I can go ahead and take this

[2019-02-03 00:33] fvcproductions opened #255 "Create cards for each resources in Legal and Health"
The links located on the health and legal resources pages should be converted to cards as shown on the other resource pages.

http://techqueria.org/resources/health/

http://techqueria.org/resources/legal/

---

- [x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [x] Made sure enough details were provided if proposing a new featu

[2019-02-03 00:43] fvcproductions commented on #214
Done 👍

https://github.com/1Password/1password-teams-open-source/pull/98

[2019-02-04 07:46] jose8a commented on #193
@fvcproductions I just accepted to join the org.  Will start working on this issue tomorrow.  Thx!

[2019-02-04 07:48] jose8a commented on #244
@fvcproductions I haven't started on this yet. I plan on working on #193 first, beginning tomorrow.

[2019-02-04 18:46] fvcproductions commented on #244
sounds good - I'll assign to myself

[2019-02-06 05:39] #241 closed

[2019-02-06 05:39] #238 closed

[2019-02-06 05:39] #239 closed

[2019-02-06 05:39] #251 closed

[2019-02-06 05:40] fvcproductions commented on #244
Fixed in #256

[2019-02-06 05:40] #244 closed

[2019-02-10 04:51] fvcproductions commented on #214
@fvntr exciting news - our application was accepted! 🎉

Please read this (https://github.com/1Password/1password-teams-open-source/pull/98#issuecomment-461903785), invite the core team to the new 1Password account, add the logo as the main image and let folks know in the appropriate channels. I would help with this but I'm on PTO. 🌴

[2019-02-20 03:45] #156 closed

[2019-02-21 06:14] fvcproductions opened #265 "Add Open Collective profile to navbar/footer"
## Is your feature request related to a problem?

N/A

## Describe the solution you'd like

Add https://opencollective.com/techqueria to navbar/footer with appropriate icon

## Describe alternatives you've considered

N/A

## Additional context

N/A

[2019-02-21 18:57] fvcproductions opened #266 "Increase GitHub Stars to over 100 ⭐️"
https://github.com/opencollective/opencollective/issues/1755#issuecomment-466119947

"If you would like to be fiscal sponsored by the Open Source Collective then you'll need at least a repo of 100 stars. If you have a bank account you can use, then you just need to go to your collective /edit and select fiscal host and create your own host organization. You just need to have a stripe account."

Le

[2019-02-25 02:03] fvcproductions commented on #214
Let's close this - we do plan on migrating from LastPass to 1Password.

cc @fvntr

[2019-02-25 02:04] #214 closed

[2019-03-01 19:02] #265 closed

[2019-03-06 19:13] fvcproductions commented on #197
We will triage this in Slack instead

[2019-03-06 19:13] #197 closed

[2019-03-18 05:33] fvntr opened #279 "Update Code of Conduct"
## Is your feature request related to a problem?
No

## Describe the solution you'd like
Add the following to CoC:
"For all official Techquería events, in instances where alcohol is present, the following is required:
* All attendees must have IDs checked to confirm they are 21+
* Alcohol consumption must be limited. Local chapters maintain autonomy for how to implement alcohol control measures (d

[2019-03-18 18:27] Calefornia commented on #197
Would love to know what you figured out! If you could let me know what happened in the Slack discussion, much appreciated! I'm trying to use Netlify's DNS instead of Namecheap's DNS, but I can't get it to work. It appears that I'll have no choice but to use Namecheap's DNS and manually enter the records for my site and email, unless there's a better way. Thanks!!

[2019-03-18 21:43] dvidsilva commented on #197
@Calefornia You have to go into the domain settings and change the nameserves, is not in the DNS config.

https://www.namecheap.com/support/knowledgebase/article.aspx/767/10/how-to-change-dns-for-a-domain

Make sure all the DNS in netlify is configured correctly and so before you do the migration/change to minimize downtime.

[2019-03-19 21:56] quahada commented on #279
putting some issues into writing & adding some more suggestions from folks who run other communities:
"spamming the group and excessive self promotion are not allowed"
"members must follow the social norms of the community"
"finding loopholes in the code of conduct is a violation of the code of conduct"
"if an admin or organizer has to talk to you about the code of conduct, you've already violated

[2019-03-19 22:00] fvcproductions opened #280 "Add subscribe form to end of page"
## Is your feature request related to a problem?

Yes, it should be easier to subscribe to our newsletter

## Describe the solution you'd like

A form at the bottom of the page

## Describe alternatives you've considered

N/A

## Additional context

Would be ideal to get this done before 1st email is sent out but not a blocker

![Screen Shot 2019-03-19 at 2 59 49 PM](https://user-images.githubuser

[2019-03-19 22:01] fvcproductions commented on #279
@quahada the second to last one seems a bit harsh 😬

also where are u taking these from out of curiosity?

[2019-03-19 22:12] quahada commented on #279
good point about it being too harsh. I'm open to something more gentle.
1st couple were reactions to some admin action we've had to take. The last 3 were from talking to another community organizer (outside of tech, can't remember who exactly) about ways to improve the COC & community in general.

[2019-03-19 23:03] fvcproductions commented on #279
I think we should just omit "If an admin or organizer has to talk to you about the code of conduct, you've already violated it" since "Any action that results in complaints from our community is a violation of the code of conduct" kinda covers it?

[2019-03-20 18:46] quahada opened #281 "Slack Invite CTA"
Is it possible to make the Slack invite call-to-action more prominent & visible, especially on mobile?

on this page: https://techqueria.org/communities/slack/
the link to the google form is below-the-fold & is a link instead of a CTA button.

Also, in the "Join us in Slack! 💬" section of the homepage, make the button blue background with white text.

The context behind this request is going to a

[2019-03-21 01:23] fvcproductions commented on #281
@quahada I agree this could definitely be more prominent 👍

[2019-03-22 04:36] KGmajor commented on #281
I'd love to help here. I'm a new software engineer, but I'm pretty sure I can handle some buttons!

[2019-03-22 04:46] fvntr commented on #281
Sent an invite over to contributor team

[2019-03-24 22:06] fvcproductions commented on #281
https://github.com/techqueria/website/pull/282 is opened to address this

[2019-03-24 22:27] fvcproductions opened #283 "Add New Resource: NHAC"
## New Resource Request

We received an email to add "Nursing Home Abuse Center (NHAC)" to our health resources page.

https://www.nursinghomeabusecenter.com/

https://techqueria.org/resources/health/

## Email

I came across Techqueria while searching for organizations with the common goal of supporting the LGBT community.

Our main focus is spreading awareness to LGBT seniors being mistreated an

[2019-03-24 22:38] fvcproductions commented on #193
Will work on this since I have some downtime 👍

[2019-03-26 00:19] fvcproductions opened #284 "Add New Resource: ShopLatinx.com"
Add shoplatinx.com to resources under business/entrepreneurship

---

- [x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [x] Made sure enough details were provided if proposing a new feature 🔍️

[2019-03-26 03:07] fvcproductions opened #286 "Add CodeTriage badge to README"
[![Open Source Helpers](https://www.codetriage.com/techqueria/website/badges/users.svg)](https://www.codetriage.com/techqueria/website)

[code]

---

- [x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [x] Made sure enough details were provided if proposing a new feature 🔍️

[2019-03-26 03:09] fvcproductions opened #287 "Add first-timers-friendly badge to README"
[![first-timers-only](https://img.shields.io/badge/first--timers--only-friendly-blue.svg?style=flat-square)](https://www.firsttimersonly.com/)

[code]

---

- [x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [x] Made sure enough details were provided if proposing a new feature 🔍️

[2019-03-26 03:15] fvcproductions opened #288 "Add Techqueria.org to FirstContributions.io site"
Make a PR to the repo by adding Techqueria.org to this file

https://github.com/firstcontributions/firstcontributions.github.io/blob/source/src/components/ProjectList/listOfProjects.js

---

- [x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [x] Made sure enough details were provided if proposing a new feature 🔍️

[2019-03-26 03:33] fvcproductions opened #289 "Add HeyTaco to Slack Community Guidelines"
Add how Techqueria uses HeyTaco to give kudos to https://techqueria.org/slack

---

The HeyTaco! bot sparks conversations and builds stronger relationships with its fun and unique kindness currency... tacos! :taco:

Their model fits perfectly with Techqueria's brand so we were so glad when the founders decided to offer us a community discount, making it completely free for all 3000+ of our Slack m

[2019-03-26 03:58] fvcproductions opened #290 "Highlight Patreon Supporters on Website"
Highlight our Patreon supporters on a new "Supporters" page https://techqueria.org/supporters

Name: "Supporters 💛 "
Description: "We want to recognize our Patreon supporters for their financial support."
Image: See attachment, make sure to make download to repo and make it a locally referenced image

![Patreon Supporters](https://user-images.githubusercontent.com/4284691/54970798-e29dbb80-4f40-11

[2019-03-26 08:59] sonali9696 commented on #287
I would like to work on this

[2019-03-26 09:07] sonali9696 commented on #287
I have added the badge right after the other badges. Let me know if you had any other location in mind.

[2019-03-26 09:21] sonali9696 commented on #287
I have fixed the issue and raised the PR: https://github.com/techqueria/website/pull/291/commits.

@fvcproductions it would be great if you could review it :)

[2019-03-26 09:27] sonali9696 commented on #286
I would like to work on this
I will go ahead and add it after the existing badges. Please LMK if you would like to add the badge elsewhere

[2019-03-26 09:31] sonali9696 commented on #286
I have made the changes and raised a PR for the same. It would be great if you could review it @fvcproductions

[2019-03-26 09:37] sonali9696 commented on #288
Hi @fvcproductions, I wanted to get the requirement clarified. Do you mean you want an entry of  Techqueria.org to be added to the projectList array?
If yes, could you please LMK what would be the entries of the imageSrc, description and tags for your website?

name: ' Techqueria.org',
imageSrc: ,
githubLink: 'https://github.com/techqueria',
description: ,
tags:

[2019-03-28 17:27] #287 closed

[2019-03-28 17:47] #286 closed

[2019-03-28 20:38] fvcproductions commented on #288
@sonali9696 Yes, that's right!

Here are the details

[code]

[2019-03-28 20:56] fvcproductions opened #294 "Add non-profit resources"
## Request

Look up all the resources provided below and add them to a new section of the website:

https://techqueria.org/resources/non-profits

## Resources

- Google for non profits
- Slack for non profits
- Facebook for non profits
- https://ycombinator.com/nonprofits
- https://microsoft.com/en-us/nonprofits
- https://gatesfoundation.org/How-We-Work/General-Information/Grant-Opportunities
- ht

[2019-03-28 21:10] fvcproductions opened #295 "Remove Waffle integration & find alternative"
Waffle will close in 2 months

https://waffle.io/closing-its-doors

Need to find alternative and remove Waffle from README/documentation

Any suggestions on alternatives are welcome! 👍

---

- [x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [x] Made sure enough details were provided if proposing a new feature 🔍️

[2019-03-28 21:41] fvcproductions opened #296 "Update contributing docs to include benefits of becoming a contributor"
For contributors to any of our GitHub repos, I'd like to add a benefit of making sure they all get added to our organization as a read-only contributor so that they can display our org on their profile.

---

- [x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [x] Made sure enough details were provided if proposing a new feature

[2019-03-28 22:31] fvcproductions opened #297 "Add recent news regarding non-profit status & Sentry award"
- our non-profit announcement as a blog post
- our Sentry award as a blog post
- tax ID number in the footer and on Patreon/Open Collective

---

- [x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [x] Made sure enough details were provided if proposing a new feature 🔍️

[2019-03-28 22:34] fvcproductions opened #298 "Update people page with leadership team"
We need to add

- board members
- exec team
- new organizers
- Patreon supporters

And ideally a better filter in the future instead of just headers

---

- [x] Checked to [see if the issue has already been discussed before](https://github.com/techqueria/website/issues) 🤔️
- [x] Made sure enough details were provided if proposing a new feature 🔍️

[2019-03-28 22:49] fvcproductions commented on #281
This was completed!

[2019-03-28 22:49] #281 closed

[2019-03-29 01:38] avaldivi commented on #294
hi  👋 @fvcproductions I'd like to work on this. Should I copy the same format that the community page has or does this have a design in place?

[2019-03-29 05:46] sonali9696 commented on #288
On observing the UI of https://firstcontributions.github.io/, I have mixed feelings about putting a full stop in the description. According to https://bootsnipp.com/snippets/92xNm, full stop seems like the way to go but some of the cards in https://firstcontributions.github.io/ do not have full stops and they look good to me too. For now, I am proceeding with the full stop but I would like to know

[2019-03-29 05:56] sonali9696 commented on #288
The changes have been made and PR has been raised: https://github.com/firstcontributions/firstcontributions.github.io/pull/43. I tried connecting the PR directly to this issue but since it is in a different repo, it was only redirecting to their own issues.

[2019-03-29 06:00] fvcproductions commented on #294
Thanks @avaldivi! 👍

So the format would look just like https://techqueria.org/resources/bay-area/

What you'll need to do is to create a new folder for the new nonprofit page under the resources folder and then set up the main `index.md` file along with all the resources mentioned in this issue.

This issue is a bit bigger as it will require you to look up the images in order to create the card w

[2019-03-29 06:02] fvcproductions commented on #288
@sonali9696 PR looks great with full stop - thanks so much! 👍

[2019-03-29 06:58] enriquenov commented on #284
Hi @fvcproductions, I'm tackling this issue right now. Please consider/label it as "in progress".

Thanks!

[2019-03-29 08:24] enriquenov commented on #283
Hi @fvcproductions! Was this issue solved in the unmerged PR you submitted 3 days ago? If not, I'd like to get it done. 👍

[2019-03-29 18:22] fvcproductions opened #300 "Add LinkedIn page to navbar & communities"
## Overview

Add LinkedIn company page to the navbar and Communities section.

## Currently

Current URL is https://techqueria.org/communities/linkedin/ which links to https://www.linkedin.com/groups/13500636

## Request

Instead, we want https://techqueria.org/communities/linkedin/ to link to our company page https://www.linkedin.com/company/techqueria and we want https://techqueria.org/communiti

[2019-03-29 18:23] fvcproductions commented on #296
https://help.github.com/en/articles/publicizing-or-hiding-organization-membership

[2019-03-29 18:30] fvcproductions commented on #296
Hey folks, just a friendly reminder that if you've contributed to the website, don't be afraid to showcase that work through LinkedIn - here's an example of how that can be done by posting under "Experience" or "Volunteering" on your LinkedIn profile.

"Techqueria is a 501c3 non-profit representing one of the largest communities of Latinx professionals in the tech industry. 🌮"

<img width="718" al

[2019-03-29 19:56] avaldivi commented on #294
@fvcproductions Thanks for the extra info. No problem with me. I will get started on it this weekend.

[2019-03-29 22:28] fvcproductions commented on #283
@enriquenov Yeah I'm still working on it, PR should be merged in soon once I fix the formatting issues 😄

[2019-03-30 00:48] #284 closed

[2019-03-30 00:49] fvcproductions commented on #288
@sonali9696 Let's close this issue for now since the PR has been opened and it's in their ball game now. I made sure to subscribe to the PR for any future changes. 🌮

[2019-03-30 00:49] #288 closed

[2019-03-30 05:48] enriquenov commented on #236
Hi @fvcproductions, I'm going to help translating some of the content. 👍

[2019-03-31 05:47] enriquenov commented on #290
Hi @fvcproductions, I'm working on creating the "Supporters" page tonight.

[2019-03-31 06:33] enriquenov commented on #290
Hey @fvcproductions, I put Phillip's LinkedIn for now, because I can't find his twitter account anywhere.

[2019-03-31 08:33] enriquenov commented on #289
Hi @fvcproductions, I'd like to work on this issue as well. 🤓

Q: Is it okay to add the HeyTaco! how-to instructions under **Best Practices** in the Slack Guidelines?

[2019-03-31 16:52] #290 closed

[2019-03-31 16:57] fvcproductions opened #303 "Add additional Patreon Supporters (Round 2)"
Update, there are now 7 supporters on Patreon - see #290 for guidelines for the first request. They should be under "Supporters" page.

Their names are:

- Frances Coronel: https://www.linkedin.com/in/fvcproductions/
- Krystal Flores: https://www.linkedin.com/in/krystalflores/
- Liliana A Monge: https://www.linkedin.com/in/lilianamonge
- Tonatiuh Ramos: https://www.linkedin.com/in/tonaramos/

---

[2019-03-31 16:58] fvcproductions commented on #289
@enriquenov Actually let's put this under "Customization" and make it the first item. 👍

I would also include a screenshot of how HeyTaco works from the HeyTaco website for better clarity!

[2019-03-31 18:12] fvntr opened #304 "Update supporters with most recent supporters"
## Is your feature request related to a problem?

We currently have 7 patreon supporters and only 3 are listed

## Describe the solution you'd like

Add:
Liliana A Monge https://www.linkedin.com/in/lilianamonge/
Krystal Flores https://www.linkedin.com/in/krystalflores/
Tonatiuh Ramos http://www.tonatiuhramos.com/
Frances Coronel https://www.linkedin.com/in/fvcproductions/

[2019-03-31 18:24] fvcproductions commented on #304
@fvntr this is a duplicate of #303

[2019-03-31 18:24] #304 closed

[2019-03-31 22:41] enriquenov commented on #289
@fvcproductions sounds good, I'm on it!

[2019-03-31 23:20] #279 closed

[2019-03-31 23:20] #280 closed

[2019-03-31 23:20] #283 closed

[2019-03-31 23:20] #193 closed

[2019-03-31 23:20] #255 closed

[2019-03-31 23:20] #295 closed

[2019-03-31 23:20] #296 closed

[2019-04-01 10:05] sonali9696 commented on #303
I would like to take a look at this.

[2019-04-01 13:27] shivam15 commented on #300
i would like to take this

[2019-04-01 21:54] fvcproductions commented on #300
@shivam15 i will send u an invite to join our github org 👍

[2019-04-01 21:55] #289 closed

[2019-04-02 03:24] shivam15 commented on #300
sure thanks

[2019-04-02 15:38] sonali9696 commented on #303
Hi @fvcproductions, I have pushed the required changes however I wanted to discuss with you my views about the UI. According to your recent changes in CONTRIBUTING.md (https://github.com/techqueria/website/blob/master/.github/CONTRIBUTING.md#1-setting-up), under Content Updates (People), the example you have given includes role and location. This is not consistent with the existing supporters' car

[2019-04-02 19:12] fvcproductions commented on #294
@avaldivi Let me know if you can still work on this, I sent u an invite to the GitHub org as well

[2019-04-02 23:20] fvcproductions commented on #303
@sonali9696 I can update the docs to specify that supporters should have their tier defined instead - like $10 supporter, $1 supporter, etc. - thanks so much for flagging - will keep this issue opened to address that

[2019-04-03 03:42] shivam15 commented on #300
is it already done? Since in nav bar i can see correct url

[2019-04-03 05:19] fvcproductions commented on #300
@shivam15 yes it looks like it was completed already - my mistake! will mark as done 👍

[2019-04-03 05:19] #300 closed

[2019-04-03 07:56] enriquenov opened #311 "Communities list not showing on Spanish version's footer"
## What's going on?

The list of Communities does not show in the footer when switching the page to Spanish.

## How can we reproduce this bug?

1. See footer in Techqueria.org
2. See footer in Techqueria.org/es
3. The communities list does not show for the second one

## What is the expected behavior?

The footer should show the Communities' list in the page's Spanish version.

## Any screenshots

[2019-04-03 09:26] sonali9696 commented on #294
Please LMK if any help is needed with this issue, I would be happy to work on this.

[2019-04-03 20:22] fvcproductions commented on #311
@enriquenov This is intentional as none of those Community pages have been translated yet - it should show only translated content 👍

[2019-04-03 20:22] #311 closed

[2019-04-03 20:26] fvcproductions commented on #294
@sonali9696 I'll assign this to you for now since I haven't heard back from @avaldivi 👍

Quick edit:

I've learned recently that in terms of naming conventions, we want this to be:

https://techqueria.org/resources/nonprofits instead of https://techqueria.org/resources/non-profits

[2019-04-03 20:27] enriquenov commented on #311
@fvcproductions I see. Good to know!

[2019-04-03 21:14] fvcproductions opened #314 "Add buttons to filter people by location & role"
## Add buttons to filter by location and role --&gt;

https://github.com/techqueria/website/blob/c3ec4c0672462396aa17195c02b24c9f0ec0b7e9/layouts/section/people.html#L14-L19

---

###### This comment was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in c3ec4c0672462396aa17195c02b24c9f0ec0b7e9 in #313. cc @fvcproductions.

_Originally posted by @todo in https://github.com/

[2019-04-03 22:16] #298 closed

[2019-04-03 22:16] #303 closed

[2019-04-03 22:17] todo[bot] opened #315 "Enabled language dropdown after translations are completed"
https://github.com/techqueria/website/blob/cb56442070138d41af9e6ca64668f0f29202d362/layouts/partials/base/footer/_index.html#L8-L13

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in cb56442070138d41af9e6ca64668f0f29202d362 when #313 was merged. cc @fvcproductions.

[2019-04-03 22:17] todo[bot] opened #316 "Add buttons to filter by location and role -->"
https://github.com/techqueria/website/blob/cb56442070138d41af9e6ca64668f0f29202d362/layouts/section/people.html#L14-L19

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in cb56442070138d41af9e6ca64668f0f29202d362 when #313 was merged. cc @fvcproductions.

[2019-04-03 22:29] #316 closed

[2019-04-05 02:24] dvidsilva opened #318 "Can't access the content in english in some pages"
## What's going on?

Some pages that exist in spanish became unavailable in english, as in they're getting redirected to the new version

## How can we reproduce this bug?

1. Go to https://techqueria.org/about/photos

## What is the expected behavior?

It should display content/photos/index

[2019-04-05 02:56] fvcproductions commented on #318
Thanks for raising the issue @dvidsilva - I'll look into it!

[2019-04-05 02:57] fvcproductions commented on #318
It's because the same URLs were being used - will fix now.

[2019-04-05 03:07] #318 closed

[2019-04-05 03:14] dvidsilva commented on #318
Great work! thanks @fvcproductions

[2019-04-05 05:37] sonali9696 commented on #294
Sure, thanks! :) I will start this weekend

[2019-04-05 16:47] fvntr commented on #266
we are at 104 stars 🎉as of 4/5/2019

[2019-04-05 16:47] #266 closed

[2019-04-07 11:46] sonali9696 commented on #294
Hey @fvcproductions, I needed a small clarification. You mentioned that a new folder needs to be created under resources folder but I guess you have optimized the directory structure and now the nonprofit folder should be under "dist" folder just like entrepreneurship. Please correct me if I am wrong.

[2019-04-07 11:54] sonali9696 commented on #294
Hi @fvcproductions, the link you had given before leads to the entrepreneurship ( https://techqueria.org/resources/bay-area/) but after you optimized the directory structure, I have a feeling that you want the structure to be similar to https://techqueria.org/communities/chapters/bay-area/. Is that correct?

[2019-04-07 11:59] sonali9696 opened #320 "https://techqueria.org/resources/bay-area/ leads to entrepreneurship page not bay area chapter"
## What's going on?

On navigating to https://techqueria.org/resources/bay-area/, the entrepreneurship is loaded instead of the bay area chapter.

## How can we reproduce this bug?

1. Go https://techqueria.org/resources/bay-area/
2. You would see the entrepreneurship page.

## What is the expected behavior?

It should probably redirect to https://techqueria.org/communities/chapters/bay-area/ inst

[2019-04-07 12:04] sonali9696 commented on #294
Hey @fvcproductions, I needed a little clarification. You needed the format to be the same as https://techqueria.org/resources/bay-area/ but this leads to entrepreneurship page. I guess you mean that you need it same as https://techqueria.org/communities/chapters/bay-area/. This redirection has probably changed recently while optimizing the directory structure. I have raised an issue of this as we

[2019-04-07 19:49] fvcproductions commented on #294
@sonali9696 Apologies for the confusion - https://techqueria.org/resources/bay-area/ used to be a resources category for entrepreneurs in the Bay Area but it was merged in with a more generic page for entrepreneurship. https://techqueria.org/resources/entrepreneurship/

The comment was made before these changes were made but what you are describing is intentional and not a bug. Thank you for raisi

[2019-04-07 19:50] fvcproductions commented on #320
@sonali9696 This is not a bug - see https://github.com/techqueria/website/issues/294#issuecomment-480623314

Thank you for raising!

[2019-04-07 19:51] #320 closed

[2019-04-07 19:53] fvcproductions commented on #315
This is dependent on #236 being done for the most part.

[2019-04-07 19:57] avaldivi commented on #294
@fvcproductions @sonali9696 whoops! I was only halfway done then got swamping with a work project. @sonali9696 do you got this?

[2019-04-08 00:12] fvcproductions commented on #314
Potential libraries you can use to filter people by location and role:

https://www.kunkalabs.com/mixitup/

https://isotope.metafizzy.co/filtering.html

[2019-04-08 05:05] sonali9696 commented on #294
Thanks for the clarification @fvcproductions! @avaldivi Yeah, I got this! :)

[2019-04-08 14:08] sonali9696 commented on #294
Just like entrepreneurship has the description as: "Resources related to businesses by Latinx Entrepreneurs.". What would you like for the nonprofits page @fvcproductions. For now, I have written "Resources related to non-profits"

[2019-04-08 17:28] fvcproductions commented on #294
@sonali9696

1. The description you have works great! 💯

2. That one can be used for now 👍

@avaldivi no worries - completely understandable 💛

[2019-04-11 06:46] sonali9696 commented on #294
The task is complete and PR has been raised @fvcproductions. Link: https://github.com/techqueria/website/pull/323

[2019-04-16 20:20] #294 closed

[2019-04-16 20:22] fvcproductions opened #330 "Add nonprofit link to navbar"
## Feature Request

https://techqueria.org/resources/nonprofits should be added to dropdown navbar

## Any additional context?

See #323 for more context

[2019-04-16 20:25] fvcproductions opened #331 "Remove emoji from navbar dropdowns"
## Request

Let's remove emoji from dropdown navbar items

## Why did you make this request?

We want to come across as more professional 😂😬

## Any additional context?

N/A

[2019-04-17 02:12] finncodes commented on #331
Hello,

Could I work on this issue?

[2019-04-17 04:42] fvcproductions opened #335 "Add Slofile to Slack page"
## Link where content currently exists

https://techqueria.org/communities/slack

## Updates you'd like to make

Add https://slofile.com/slack/latinos at the end of the sentence "As you are waiting for your Slack invite" with "You can also get a taste of our Slack workspace by checking out [Slofile profile](https://slofile.com/slack/latinos)."

## Any additional context?

N/A

[2019-04-17 13:02] teisenhower commented on #330
I'd love to assist on this and a few other issues you have posted, if no first timers claim them.

**Thanks!**

[2019-04-17 14:54] KonradGladala commented on #335
Hello, I would like to help you with this.

[2019-04-17 16:18] fvcproductions commented on #330
@teisenhower Definitely, feel free to tackle it and let me know if you have any questions!

[2019-04-17 16:18] fvcproductions commented on #335
@KonradGladala Sure go ahead!

[2019-04-17 16:25] fvcproductions opened #336 "Create new resource page for "similar organizations""
## Request

Let's add a page under resources located at https://techqueria.org/resources/similar-orgs with the title "Similar Organizations 👀"

## Why did you make this request?

Let's showcase other friendly organizations dedicated to supporting Latinx in Tech.

## Any additional context?

Yes, here are a few organizations we would like to initially add:

- Latinas in Tech - https://www.latinasin

[2019-04-17 16:39] teisenhower commented on #330
Great! Thank you! I will make a PR soon.

[2019-04-17 18:11] fvcproductions commented on #330
@teisenhower Turns out it was added in a previous PR and I just didn't notice it - good to go now!

[2019-04-17 18:11] #330 closed

[2019-04-17 19:08] fvcproductions commented on #331
@teisenhower feel free to tackle this one - it's pretty easy since you're just getting rid of emoji in the navbar within `config.toml`

[2019-04-17 19:39] teisenhower commented on #331
@fvcproductions Thanks! Will do!

[2019-04-17 23:01] phurbalama commented on #336
Hi, fvcproduction
I would like to contribute to the project.

[2019-04-17 23:07] phurbalama opened #340 "Image link missing for Slack"
## Link where content currently exists

https://techqueria.org/resources/career/

## Updates you'd like to make

The Image for the "Slack #jobs Channel" is missing

## Any additional context?

This was requested by phurba lama

[2019-04-17 23:20] fvcproductions commented on #340
Fixed in #341

[2019-04-17 23:20] #340 closed

[2019-04-17 23:26] fvcproductions commented on #336
@phurbalama You're more than welcome to! Let me know if you have any questions.

[2019-04-17 23:58] #331 closed

[2019-04-18 00:10] fvcproductions opened #343 "Create new resource page for "conferences""
## Request

Let's add a page under resources located at https://techqueria.org/resources/conferences with the title "Conferences"

## Why did you make this request?

Let's showcase conferences that center around Latinx in Tech

## Any additional context?

Yes, here are a few conferences we would like to initially add:

- LULAC's Latinx Tech Summit: https://www.latinxtechsummit.org/home; https://ww

[2019-04-18 15:03] #335 closed

[2019-04-18 23:26] justjunior123 commented on #343
Hi fvcproductions - Could I handle this issue? let me know if it is ok. Thanks!

[2019-04-18 23:26] fvcproductions commented on #343
@justjunior123 yeah feel free!

[2019-04-20 03:36] phurbalama opened #345 "New Content Update Request: Replace broken image link"
## Link where content currently exists

https://techqueria.org/press/

## Updates you'd like to make

The image link is broken for the first content that talks about undocumented immigrants

## Any additional context?

This was requested because...

[2019-04-20 04:40] fvcproductions commented on #345
Looks like image is here: https://s.yimg.com/ny/api/res/1.2/8KKtdS3I_onGR3CwmWYsPA--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://media.zenfs.com/en/homerun/feed_manager_auto_publish_494/436ac184d2914cc291c4eec93a5355ae

So we just need someone to add this in locally.

[2019-04-20 04:44] fvcproductions opened #346 "Bug: Categories & tag pages don't work"
## What's going on?

Category/tag pages are not configured

## How can we reproduce this bug?

https://techqueria.org/people/frances-coronel/

Click on Categories or any of the category links

## What is the expected behavior?

It should redirect you to that specific category with a list of pages that share that category

## Any screenshots?

![Screen Shot 2019-04-19 at 9 42 06 PM](https://user-im

[2019-04-20 15:00] whimsicurl-creations commented on #345
I'm new to open source, but I would like to work on this if it is still open.

[2019-04-20 20:19] justjunior123 commented on #343
@fvcproductions I've finished up the task locally and all looks great. Do I merge my changes? Sorry I'm new to open source and a little lost at the moment.

[2019-04-25 01:32] #345 closed

[2019-04-25 02:05] fvcproductions opened #353 "New Feature Request: Add Meetup events automatically"
## Request

Let's add events from our Meetup group to our Events page as cards automatically via their API

Meetup Group: https://www.meetup.com/techqueria/

## URL(s)

https://techqueria.org/events

## Why did you make this request?

We will never be able to add events to the website consistently so it's better if we take advantage of the platforms we use to create events and just add those in vi

[2019-04-25 02:07] fvcproductions opened #354 "New Feature Request: Add Eventbrite events automatically"
## Request

Let's add events from our Eventbrite page to our Events page as cards automatically via their API

https://www.eventbrite.com/o/techqueria-san-francisco-13735914017

## URL(s)

https://techqueria.org/events

## Why did you make this request?

We will never be able to add events to the website consistently so it's better if we take advantage of the platforms we use to create events and

[2019-04-25 18:28] fvcproductions opened #356 "New Resource Request: TheBestSchools.org"
## Name & Description

Hi there,

The education of the youth population has a direct impact on the wellbeing of its economy, health, and prosperity. This holds true around the nation; however, roughly 65,000 undocumented immigrants graduate from high school each year, and only  10,000 enroll in college. In addition, even fewer that that graduate, despite the numerous resources available to help th

[2019-04-25 18:29] fvcproductions opened #357 "New Feature Request: Add "Students" resource category"
## Request

Let's add a resource category for Latinx students

## URL(s)

https://techqueria.org/resources/students/

## Why did you make this request?

#356

## Any additional context?

This needs to be completed before #356 can be done

[2019-04-26 21:13] fvcproductions opened #359 "New Feature Request: Add "Words" resource category"
## Request

Let's add a resource category for publications that support Latinx in Tech called "Words"

## URL(s)

https://techqueria.org/resources/words

## Why did you make this request?

To highlight publications that talk about Latinx in Tech

## Any additional context?

N/A

[2019-04-28 17:29] #336 closed

[2019-04-29 04:21] fvntr commented on #297
is this going to be added to the current sponsor page? under like a heading 'grant'or 'open-source' partner?

[2019-05-02 15:45] sonali9696 commented on #357
@fvcproductions Do you want just a page to be created and added to the navbar or to populate it also like the nonprofits page?

[2019-05-02 22:17] fvcproductions commented on #357
@sonali9696 We can just add to navbar for now and create the page since #356 is the first item to populate the page 👍🏽

[2019-05-04 18:54] co16353sidak commented on #357
Hey everyone, would love to work on this, if you are allowing outsiders to work in this issue please give me the go ahead. 😃
@sonali9696 @fvcproductions

[2019-05-06 01:50] omarnyte commented on #236
Hey, @fvcproductions! I'd love to get started contributing with some translations. I can work on all of the "Support Us" pages.

[2019-05-08 00:26] fvcproductions opened #367 "New Feature Request: Add Google Calendar to events page"
## Request

Add the following

[code]

## URL(s)

https://techqueria.org/events

Add right after "See all our events on Eventbrite or Meetup."

## Why did you make this request?

Get more folks aware of Techqueria events

## Any additional context?

N/A

[2019-05-08 00:28] fvcproductions commented on #357
@co16353sidak I will assign to @sonali9696 for now but feel free to grab another issue 👍

[2019-05-08 00:28] fvcproductions commented on #297
@fvntr no; as separate blog posts

sentry is done; just need non-profit status one

[2019-05-10 01:36] Ania-chan commented on #367
Hi! I'm very new to the open source and I'd like to work on this issue!

[2019-05-10 03:19] #367 closed

[2019-05-10 03:20] fvcproductions commented on #236
@omarnyte Brilliant - you can open a PR when you're ready and feel free to ask me any questions you have on how to submit translations

[2019-05-10 07:47] sonali9696 commented on #357
Any emoji in mind?

[2019-05-10 08:40] sonali9696 commented on #357
Any emoji in mind for the Students category?

[2019-05-10 08:45] sonali9696 commented on #357
Once you confirm the emoji, I will raise the PR. The rest of the changes are pushed.

[2019-05-10 17:35] omarnyte commented on #236
@fvcproductions

[2019-05-10 18:08] omarnyte commented on #236
@fvcproductions, I'm having some trouble hitting `/es/donate-space/`, `/es/volunteer/`, and `/es/supporters/.` In production, those routes display a 404. Locally, they show a blank page with a `Cannot GET` error.  `/es/support-us/` works as expected. I've tried adding the URLs to the sitemap on `config.toml`, but I'm still not hitting any of those routes. How can I configure those URLs?

[2019-05-11 17:49] fvcproductions commented on #357
@sonali9696 The emoji can be 🎓 but should not be included on the navbar for consistency.

[2019-05-11 23:50] fvcproductions opened #372 "New Feature Request: Add new Patreon Supporter"
## Request

Add new supporter to Patreon Supporters page

$25 supporter

Giovanni Bryden

Principal Sales Engineer at Mixpanel

https://www.linkedin.com/in/giovanni-b-8a822952/

## URL(s)

https://techqueria.org/patreon-supporters

## Image

https://avatars1.githubusercontent.com/u/2127351?s=460&v=4

## Why did you make this request?

Each Patreon supporter gets highlighted on the website

## Any

[2019-05-12 04:49] #359 closed

[2019-05-12 05:06] #297 closed

[2019-05-12 05:06] #315 closed

[2019-05-13 07:05] sonali9696 commented on #357
Alright done :)

[2019-05-15 12:58] l3njo commented on #372
I'll work on this

[2019-05-16 03:07] fvcproductions opened #378 "New Resource Request (Multiple)"
1. https://futureforus.co/ - add to a new Latinas resource category
2. https://wallbreakers.com/ - students
3. https://svlatino.com/ - Career
4. https://www.techhireoakland.org/ - Career
5. https://zapier.com/blog/best-nonprofit-discounts/ - Nonprofits

[2019-05-16 09:30] nathantomsfairsailcom commented on #372
Hi, I am new to OSS contributions and would like to give this one a go

[2019-05-16 17:56] #372 closed

[2019-05-16 21:00] dvidsilva opened #381 "New Feature Request: Create profile pages for members of the community"
## Request

There  are some websites like:

http://www.joinnativesrising.com

https://www.latinxswhodesign.com/

That do a good job at showcasing some underrepresented talent. I believe we can have some content like this in our site, with interviews or information about members, and optionally contact information.

This can help our members be inspired by others and also create some sort of direct

[2019-05-22 21:16] fvcproductions opened #385 "New Feature Request: Embed Donorbox"
## Request

Let's add Donorbox to the donate page through an iframe

## URL(s)

https://techqueria.org/donate/

https://donorbox.org/techqueria

[code]

## Why did you make this request?

We want Techqueria to get more donations

## Any additional context?

N/A

[2019-05-23 11:09] cyberfernandez commented on #236
Hola, I would love to contribute to this project. Any other words of advise to get started ?

Thanks,

[2019-05-24 00:15] #385 closed

[2019-05-25 13:26] PoseidonSigmaX commented on #378
Hey, I'd like to work on this, which file do I need to add it to though? @fvcproductions

[2019-05-26 21:35] fvcproductions commented on #236
@cyberfernandez Thanks for reaching out - contributing guidelines are here so I would use that to get started https://github.com/techqueria/website/blob/master/.github/CONTRIBUTING.md#translations and you're welcome to ask me any questions!

[2019-05-26 22:35] fvcproductions commented on #378
@PoseidonSigmaX I updated the contributing guidelines for more context here - the categories are mentioned in the initial issue but let me know if you have any questions! 👍

https://github.com/techqueria/website/blob/master/.github/CONTRIBUTING.md#resources

[2019-06-06 04:55] cyberfernandez commented on #356
@fvcproductions I would like to be assigned for this issue #356 if possible? I would like to complete this! :)

[2019-06-10 05:09] bote795 commented on #354
basic research
https://www.eventbrite.com/platform/api#/introduction/authentication/getting-a-token
seems like Eventbrite requires login to be able to use their API to get events. So need a server or somewhere secure to get the token first then make the call

meetups api allows to get the events i believe, this is an example with past events:
`https://api.meetup.com/2/events?&sign=true&photo-host=

[2019-06-10 05:14] bote795 commented on #353
basic research
meetups api allows to get the events i believe, this is an example with past events:
`https://api.meetup.com/2/events?&sign=true&photo-host=public&group_urlname=techqueria&status=past&page=20`

[2019-06-10 05:17] bote795 commented on #353
are we trying to add past or upcoming events or both?

[2019-06-11 02:09] #357 closed

[2019-06-11 02:10] fvcproductions commented on #353
@bote795 both upcoming and past events would be great - you might be able to use fetch to get this data

https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch

[2019-06-11 02:14] fvcproductions commented on #354
@bote795 if there is no way to get events from just client side then we might need to close 🤔

[2019-06-11 04:15] bote795 commented on #354
yea based on my research we would need a server or some sort of lambda function or something since we need to get a token for a user and we need credentials for that and we don't want to put that in the client side.

[2019-06-11 06:23] bote795 commented on #353
so this is how it currently looks just for past events. A lot of the meetup events don't have pics so yea..
https://gyazo.com/d8a12af2f5c146e4fc5f5c02212ac730

[2019-06-11 06:49] bote795 commented on #354
well just read we could get a personal token if we create some random "qa-bot" account and try to see if we can use that to get the events?

As many of our API users are just doing an integration for a single user or organizer, we have a streamlined workflow for users to get an OAuth token just to represent themselves.All you need to do is visit your apps page, and make sure you have at least one

[2019-06-12 08:21] bote795 commented on #354
Tested today with my account getting the personal token, (though this token does allow full control over the account I think I read somewhere, that's why I would say we would have to make a fake account and then use that token for that account)
example of the api call

upcoming events:
`https://www.eventbriteapi.com/v3/organizers/13735914017/events/?order_by=start_desc&status=live`

past events
`h

[2019-06-15 00:53] bote795 commented on #354
also with the pr: #396  that adds meetup, how many of each or how would you wanna choose which one to display? @fvcproductions

[2019-06-16 01:55] #236 closed

[2019-06-16 02:05] fvcproductions opened #399 "Send Sentry a bi-weekly update of progress"
This is where I'll be adding on the weekly updates for Sentry. 🙌🏽

[2019-06-16 02:07] fvcproductions commented on #354
@bote795 in terms of how many, it doesn't matter too much - it can be all the events unless the response gets too big in the future (like 100+)

for future PR questions, feel free to ask in PR though 👍

[2019-06-16 02:08] fvcproductions commented on #354
@bote795 Netlify does support server-side functions: https://www.netlify.com/docs/functions/

and we can take advantage of this since we have their pro plan/open source plan

https://www.netlify.com/pricing/#features

[2019-06-16 05:04] fvcproductions commented on #314
Don't want it to be marked as stale but it is a toughie!

[2019-06-16 05:08] fvcproductions opened #400 "Ideation: Feature List for Member Portal"
# Member Portal

## Overview

CASA - the member portal of Techqueria, the largest community for Latinx in Tech.

https://techqueria.org/casa

## Goal

Create a member portal that provides an enriched experience for our exponentially growing Latinx in Tech community.

This member portal should be entirely integrated and authenticated through our Slack community.

## Similar Platforms

- https://lan

[2019-06-16 06:41] fvcproductions commented on #400
## POC in Tech

![Screen Shot 2019-06-15 at 10 57 43 PM](https://user-images.githubusercontent.com/4284691/59560450-02d09a00-8fc7-11e9-8039-741722dc1594.jpg)

## Tech Ladies

![Screen Shot 2019-06-15 at 10 55 27 PM](https://user-images.githubusercontent.com/4284691/59560452-049a5d80-8fc7-11e9-9e56-38e418e474e0.jpg)

## Women Who Code

![Screen Shot 2019-06-15 at 10 52 31 PM](https://user-images.gi

[2019-06-16 23:00] bote795 commented on #354
@fvcproductions haven't started a pr yet for this since I want to plan how we want this to work before I start implementing.

Do we get more than 125k requests to our website per month?

[2019-06-17 02:20] fvcproductions commented on #354
@bote795 right now, we get no more than ~2,000 visits per month

[2019-06-18 05:16] bote795 commented on #354
@fvcproductions cool will start working on this after the meetup one goes through.
Might have to do some changes in netlify to pass env variables, not sure how we handle the account and stuff. But I will wait on that until I get there.

[2019-06-20 07:05] ghost opened #402 "New Feature Request: Unified Social Button Design in Top Nav"
Hi, just wanted to make a suggestion for the social buttons in the Top Nav.

## Request

Let's add...

I'm suggesting that the social icons use a unified icon design for social button (ex: all rounded with the same color/hover-highlight effect).

Icons:
 - LinkedIn
 - Twitter
 - Slack
 - Login

## URL(s)

https://techqueria.org/

## Why did you make this request?

Just want to get involved in new

[2019-06-20 19:54] #353 closed

[2019-06-20 20:01] fvcproductions commented on #399
# Sprint 1 out of 6 🌮

## Progress 🛠

- Milestone Issues: https://github.com/techqueria/website/milestone/5
- set up reminders for bi-weekly updates
- setup sprint milestones on GitHub
- added [core member portal features](https://github.com/techqueria/website/issues/400) onto GitHub that Felipe & I finalized
- came up with [survey questions](https://docs.google.com/document/d/1X6OH1WH0RxWQY1Az_d4

[2019-06-21 02:43] fvcproductions opened #403 "Ideation: Design Thinking Sessions"
1) incorporate the feedback from the comments - 6/19-6/21
2) finalize questions 6/21-6/23
3) transfer them to a Google Form 6/24-6/25
4) share Google Form across all of Techqueria platforms 6/26
5) get at least 500 responses 6/26 to 7/12 - raffle off 3 $25 Amazon Gift Cards for incentive
6) have a design thinking workshop with responses incorporated 7/15 or 7/16
7) reflect & ideate 7/16 to 7/19
8)

[2019-06-21 05:30] bote795 commented on #354
@fvcproductions have started on this pr, but need to add some env variables in netlify.
wanted to do the second or third bullet point mentioned here https://www.netlify.com/docs/continuous-deployment/#environment-variables

In team settings, under Settings > Sites > Global site settings > Shared environment variables. Variables set at the team level are shared by all sites owned by the team. These

[2019-06-21 17:14] hyerania commented on #343
@fvcproductions The conference category in resources is already part of the current site. All the links listed in this post have also been added on the site. This request seems to have already been completed. Is there anything else that needs to be done?

[2019-06-25 20:34] emmazunz opened #407 "New Feature Request: Please add content to press section of website"
## Request

Please add my Creative Mornings ATX interview to the press section of the TQ website

## URL(s)

https://creativemorningsaustin.tumblr.com/post/184514413736/cmugshot-andrea-flores

## Why did you make this request?

Because I want my giant face to be on our website = )

## Any additional context?

Thank you!

[2019-06-28 23:10] fvcproductions commented on #403
*actual timeline so far*

1. finalize google form 6/28
2. share across Techqueria platforms 7/1

[2019-06-30 23:25] fvcproductions commented on #354
@bote795 apologies for delay but if u DM me your email, I can add u as a collaborator so you can add in env variables

https://app.netlify.com/teams/techqueria/members/new

[2019-07-01 01:56] fvcproductions commented on #343
@hyerania nope, not really - I will close

but I will create an issue to add in the images for resources without an image

[2019-07-01 01:56] #343 closed

[2019-07-01 01:57] fvcproductions opened #408 "New Content Update Request: Add images for resource pages"
## Link where content currently exists

https://techqueria.org/resources

## Updates you'd like to make

Any resources that don't have an image should have an image added

For example: https://techqueria.org/es/resources/conferences/

## Any additional context?

Nope, you basically just need to add images - it's an easy win!

[2019-07-01 01:57] #378 closed

[2019-07-01 06:31] Sol1323 commented on #408
@fvcproductions I would love to work on this issue [#408](https://github.com/techqueria/website/issues/408) if it is possible. More than happy to contribute to Techqueria's website.

[2019-07-01 06:47] fvntr commented on #400
Great examples

[2019-07-04 06:15] fvcproductions commented on #408
@Sol1323 I just assigned you to this issue - let me know if you have any questions! 💯

[2019-07-05 17:03] dvidsilva opened #413 "New Feature Request: Add a link to amazon smile in the donate page"
## Request

Let's add a link to our amazon smile in the donate page

## URL(s)

/donate to > https://smile.amazon.com/ch/83-2656715

## Why did you make this request?

To add visibility

[2019-07-05 22:36] Sol1323 commented on #408
@fvcproductions Great, thank you! Will keep you posted of any updates or questions.

[2019-07-07 18:43] Sol1323 commented on #408
@fvcproductions PR [#416 ](https://github.com/techqueria/website/pull/416) for this issue is ready for review. I will be available by all means, loved contributing here.

[2019-07-17 22:58] fvcproductions commented on #400
This is not finalized - waiting for design thinking session

[2019-07-17 22:59] #408 closed

[2019-07-17 23:02] fvcproductions opened #418 "Minor Optimizations - Sentry Integration, Structured Data, RSS feed, new blog posts, updated resources and documentation"
- update documentation
- add new blog posts
- update resources
- create RSS feed
- optimize structured data
- add Sentry integration

[2019-07-17 23:03] fvcproductions commented on #418
fixed in #412

[2019-07-17 23:03] #418 closed

[2019-07-18 22:46] Sol1323 commented on #314
@fvcproductions I would love to work on this issue [#314](https://github.com/techqueria/website/issues/314). :)

[2019-07-19 17:46] Joel-Torres opened #420 "Fix typo"
## Link where content currently exists

https://techqueria.org/

## Updates you'd like to make

change "offical" to "official"

## Any additional context?

website/i18n/en.toml

[2019-07-19 21:39] fvcproductions opened #421 "New Resource Request: Financial Aid for Minority Students"
## Name

Guide to Financial Aid for Latino Accounting Students

## Image

N/A

## Description

SCHOLARSHIPS FOR HISPANIC AND LATINO ACCOUNTING STUDENTS

## Link to Resources

https://www.accounting.com/resources/financial-aid-for-minority-students/

## Category

Students

## Desired Slug (optional)

https://techqueria.org/students/financial-aid-accounting

---

## Initial request

[code]

[2019-07-20 20:01] fvcproductions commented on #314
@Sol1323 I just assigned you - let me know if you have any questions!

[2019-07-23 04:36] fvcproductions commented on #399
# Sprint 2 & 3 out of 6 🌮

## Progress 🛠

- Milestone Issues: https://github.com/techqueria/website/milestone/6

## Blockers 🔵

- design thinking survey hasn't happened yet

## Next Sprint (July 18 to August 1) ⏭

- design thinking session for member portal is on 7/23
- start planning out sprints for member portal features
- start assigning issues to members to build out the portal

[2019-07-23 04:45] fvcproductions opened #423 "New Feature Request: Revamped navbar & footer"
### Revamped Navbar & Footer

- Navbar
  - About
  - Blog
  - Communities
  - Contact
  - Donate
  - Events
  - Jobs (Gated)
  - Members (Gated & Public)
  - Press
  - Resources
  - Shop
  - Support Us
  - Login
  - Sign Up
- Footer
  - Social Media (Icons)
    - Facebook
    - GitHub
    - Instagram
    - LinkedIn
    - Meetup
    - Twitter
    - YouTube

[2019-07-23 04:46] fvcproductions opened #424 "New Feature Request: Revamped Team Page"
### Revamped Team Page

Showcases founders, board members, chapter leads, volunteers, etc.

- https://girlswhocode.com/our-team/

Related to #316 and #314

[2019-07-23 04:47] fvcproductions commented on #400
Related issues

#424 #423

[2019-07-23 04:49] fvcproductions opened #425 "New Feature Request: Add Impact Report Page"
### Add Impact Report Page

- https://girlswhocode.com/2018report/

This can be in draft mode for now but it needs to get started so we can publish by January 2019

[2019-07-23 05:07] fvcproductions opened #427 "New Feature Request: Revamped Member Onboarding Form"
## Sign Up for Slack

https://techqueria.org/slack/join

- Current form: https://docs.google.com/forms/d/e/1FAIpQLSdOHxMgRifkgekshIjNVvV5Ky4jlYIIbIhLwe1Z83ZF67is-Q/viewform?usp=send_form
- Revamp form to something more

- https://www.hiretechladies.com/join/

---

Right now, we use Google Forms to collect some basic member data and then we manually invite them to Slack and manually add them to our

[2019-07-23 05:08] fvcproductions opened #428 "New Feature Request: Login to Slack Capability"
## Login to Slack

https://techqueria.org/casa/auth redirects to https://techqueria.org/casa which is gated content

- any user who is part of our Techqueria Slack Workspace https://techqueria.slack.com should be able to access Casa
- authentication with Slack
- sign in through website using Slack
- https://api.slack.com/docs/sign-in-with-slack

Essentially we don't want anyone to access private c

[2019-07-23 05:08] fvcproductions opened #429 "New Feature Request: Member Directory"
## Member Directory

https://techqueria.org/members

- look up members through dedicated directory
- would be like LinkedIn
- powered by Algolia
- users can choose to make their profiles indexed and public; private by default

[2019-07-23 05:09] fvcproductions opened #430 "New Feature Request: Member Leaderboard"
## Member Leaderboard

https://techqueria.org/members/leaderboard

- leaderboard synced from HeyTaco
- https://www.heytaco.chat/api
- https://www.heytaco.chat/api/v1/json/leaderboard/T0KQTUZ2B?days=365

- Give and receive recognition for professional achievements from industry peers and leaders

[2019-07-23 05:11] fvcproductions opened #431 "New Feature Request: Referrals"
## Referrals

https://techqueria.org/referrals
https://techqueria.org/refer

- Should be public-facing in case allies want to let their Latinx friends know about it
- Sends email to the friend inviting them to sign up
- example: https://communitybot.co/?ref=producthunt

[2019-07-23 05:12] fvcproductions commented on #427
#### Email Newsletter

https://techqueria.org/subscribe

- automatically integrates with Slack and Mailchimp
- every new registration gets added to MailChimp email list
- we should have a link to the email archive for easy reference

[2019-07-23 05:14] fvcproductions opened #432 "New Feature Request: Job Board"
## Job Board

https://techqueria.org/jobs

- allows the user to create and edit job posts
- users pay to be able to post jobs
- users can send jobs to Slack #jobs channel
- ability to filter & search certain jobs
- automated email newsletter for new jobs added or add to existing newsletter
- job type
  - Full-Time
  - Contract
  - Internship
  - Apprenticeship
- job location
  - integrate through

[2019-07-23 05:17] fvcproductions opened #433 "New Feature Request: Minor blog updates"
## Blog

https://techqueria.org/blog

- Big announcements should all go on our blog and then be linked on social media, Slack, email newsletter, etc.

## Features

Add comment section from Disqus, sharing buttons and a slightly revamped design that better showcases all the different elements of a blog

[2019-07-23 05:20] fvcproductions opened #434 "New Feature Request: Email Newsletter Landing Page"
https://techqueria.org/subscribe

- automatically integrates with MailChimp
- every new subscriber gets added to MailChimp email list
- we should have a link to the email archive for easy reference

LP should have form built in (see example below)

![Screen Shot 2019-07-22 at 10 19 56 PM](https://user-images.githubusercontent.com/4284691/61684620-e06d2300-acce-11e9-8486-8be199f16402.jpg)

[2019-07-23 05:21] fvcproductions opened #435 "New Feature Request: Shop"
## Shop

https://techqueria.org/shop

- all types of products showcasing Techqueria branding

[2019-07-23 05:21] fvcproductions commented on #435
Closed in #377

[2019-07-23 05:21] #435 closed

[2019-07-23 05:26] fvcproductions opened #436 "New Feature Request: Dedicated Analytics & Tracking"
- MixPanel
- Google Analytics

Add in `<head></head>`

## GA

[code]

## Mixpanel code

[code]

[2019-07-23 05:29] fvcproductions opened #437 "New Feature Request: Gated linked for internal documentation"
## Internal Documentation

https://techqueria.slab.com

- for Techqueria members to easily contribute internal long-form documentation
- you can only login with your Techqueria Slack login

Ask is to add this as a gated link to navbar/footer

Related to #423

[2019-07-23 05:36] fvcproductions opened #438 "New Feature Request: Add in past events to Events page"
## Event Activation

Gather past events from Meetup & Eventbrite and manually add them to the events page

https://techqueria.org/events

## Other ideas

- potentially show events based on the location of the user
  - San Francisco
  - Austin
  - Chicago
  - NYC
  - Los Angeles
- we need an easier way to automatically add events to the website

- Advance your technical skills with other engineers

[2019-07-23 05:37] fvcproductions opened #439 "New Feature Request: Community Resources"
## Community Resources

https://techqueria.org/career

- should include speaking opportunities/conference discounts
- goals/milestones/career advice/path
- gamified career path
- this gamification could be enhanced by highlight/giving props (HeyTaco) to folks that have helped you complete career milestones

- Upgrade your skills with these Women Who Code recommended coding resources.
- Benefit fro

[2019-07-23 17:00] fvcproductions opened #441 "New Feature Request: Add press article"
http://eltecolote.org/content/es/especiales/techqueria-construye-una-comunidad-latina-en-la-industria-de-la-tecnologia/

Add to press page https://techqueria.org/press/ (both English & Espanol) with image and title

[2019-07-27 04:37] fvcproductions commented on #400
All these were created to issues! Will be adding in more feature requests from design thinking session.

[2019-07-27 04:37] #400 closed

[2019-07-27 04:38] fvcproductions commented on #432
![59560450-02d09a00-8fc7-11e9-8039-741722dc1594](https://user-images.githubusercontent.com/4284691/61990048-b2991e80-afed-11e9-969a-8a55ecfc28fb.jpg)

[2019-07-27 04:39] fvcproductions commented on #423
![59560450-02d09a00-8fc7-11e9-8039-741722dc1594](https://user-images.githubusercontent.com/4284691/61990051-c5135800-afed-11e9-8f6c-5eaa80b104ac.jpg)
![59560452-049a5d80-8fc7-11e9-9e56-38e418e474e0](https://user-images.githubusercontent.com/4284691/61990052-c5135800-afed-11e9-8551-9ed289a5be02.jpg)

[2019-07-27 06:51] bote795 opened #445 "Bug: Events Meetup"
## What's going on?
The Events Meetup display isn't updating.

## How can we reproduce this bug?

1. Go to https://techqueria.org/events/meetup/
2. See that it still shows a past event.

## What is the expected behavior?

It shouldn't show an event that has already passed in the upcoming event section

## Any screenshots?

[![Image from Gyazo](https://i.gyazo.com/8e2282e1ca1c39388200dd53c1730964.p

[2019-07-28 01:29] fvcproductions opened #447 "New Feature Request: Build sponsorship propesctus into website"
## Request

For transparency, we want our sponsorship prospectus built into our website as static content instead of in just PDF format

## URL(s)

https://techqueria.org/support-us/sponsorship-prospectus

aliases:
- /sponsorship-prospectus/
- /sponsor-tiers/

## Why did you make this request?

We want our sponsorship prospectus to be able to share with anyone through
a simple link instead of havi

[2019-07-28 01:30] fvcproductions opened #448 "New Feature Request: Add PDF Sponsorship Prospectus to website"
## Request

Let's add the PDF version of the sponsorship prospectus before #447

## URL(s)

See #447 for URLs where you an embed the PDF

But also PDF itself should be hosted here https://techqueria.org/assets/pdf/sponsorship-prospectus.pdf

## Why did you make this request?

We want to be able to share PDF version of the sponsorship prospectus that is hosted on our website

## Any additional cont

[2019-07-28 02:15] fvcproductions commented on #433
Disqus comment section added and author capabilities added as well

Still need sharing buttons and better design

[2019-07-28 02:15] fvcproductions commented on #433
For sharing buttons, here's some inspiration

[code]

[2019-07-28 05:08] #346 closed

[2019-07-28 05:08] #407 closed

[2019-07-28 05:08] #413 closed

[2019-07-28 05:08] #420 closed

[2019-07-28 05:08] #424 closed

[2019-07-28 05:08] #434 closed

[2019-07-28 05:14] fvcproductions commented on #441
fixed in #444

[2019-07-28 05:14] #441 closed

[2019-07-29 06:10] fvcproductions opened #451 "New Content Update Request: Contributing guidelines"
Lots of new data relations were added between organizers, companies, events, and people -- meaning they can be linked together

Ergo, the contributing guidelines need to be updated

[2019-07-29 06:15] fvcproductions opened #452 "Optimize team page to be more efficient"
## Optimize to be more efficient --&gt;

https://github.com/techqueria/website/blob/a763ce88bf3a544c7fb3fdab0909e5d890a76fe7/layouts/section/team.html#L13-L18

---

###### This comment was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in a763ce88bf3a544c7fb3fdab0909e5d890a76fe7 in #450. cc @fvcproductions.

_Originally posted by @todo in https://github.com/techqueria/webs

[2019-07-29 06:18] fvcproductions opened #453 "New Content Update Request: Convert roles and locations into categories"
The roles and location params keys should be moved to `categories` in the future so it is easier to filter content by role or location but they should still keep current functionality which is to showcase the different roles of the team members without having to manually repeat any strings.

https://techqueria.org/categories

[2019-07-29 06:20] fvcproductions opened #454 "New Feature Request: Set up publications like companies are set up"
We would like to set up the publications so we can display them in a cool way like the companies are right now.

https://techqueria.org/support-us/supporters

so there should be something like

https://techqueria.org/press/publications but showcasing the publications we've been featured in instead

[2019-07-29 06:23] fvcproductions opened #455 "New Content Update Request: Add missing translations for https://techqueria.org/team"
## Link where content currently exists

https://techqueria.org/team

## Updates you'd like to make

Spanish translations for the team members

You can learn how to contribute translations through the contributing guidelines: https://github.com/techqueria/website/blob/master/.github/CONTRIBUTING.md

[2019-07-29 06:24] fvcproductions opened #456 "New Content Update Request: Spanish translations for https://techqueria.org/slack"
## Link where content currently exists

https://techqueria.org/slack

## Updates you'd like to make

Spanish translations needed for updated material

## Any additional context?

N/A

[2019-07-29 06:27] fvcproductions opened #457 "New Feature Request: Set up easier translation process"
## Request

Let's make it easier to maintain Spanish translations of content

## Why did you make this request?

I need a more streamlined process that makes it easier for contributors to add Spanish translations

## Any additional context?

I'm experimenting with https://phraseapp.com/ right now which is free for open-source projects - it is actually already integrated with the website but still

[2019-07-29 06:29] #433 closed

[2019-07-29 06:29] #448 closed

[2019-07-29 06:29] #451 closed

[2019-07-29 16:27] fvntr opened #458 "New Content Update Request: Remove the 'helped with x event" in the team profile section"
## Link where content currently exists

https://techqueria.org/team/

## Updates you'd like to make

Remove this part

## Any additional context?

We still need to get more information about who helped organize events. Also, this information should be a part of the internal facing part of the app (imo).

[2019-07-29 16:34] fvntr opened #459 "New Content Update Request: Individual Team Member picture is taking up the width of page"
## Link where content currently exists

Example: https://techqueria.org/team/maritza-alas/

## Updates you'd like to make

Currently the profile pic of each team member is taking up the width of the page and necessitating scrolling down to reveal additional information. The image itself is often times blurry since its being expanded.

An improvement here would be to have it only take up a portion

[2019-07-30 05:25] #459 closed

[2019-07-30 05:48] fvcproductions opened #461 "New Feature Request: Enhance form validation"
## Request

For the forms on techqueria.org, let's make the form validation even better so that users always enter valid URLs

## URL(s)

https://techqueria.org/support-us/volunteer/
https://techqueria.org/support-us/speak/
https://techqueria.org/support-us/donate-space/
https://techqueria.org/about/contact/

## Why did you make this request?

To ensure valid data is being piped through

## Any ad

[2019-08-01 16:37] fvcproductions opened #464 "New Feature Request: Form redirect success page"
By default, when visitors complete a form, they will see a generically styled success message with a link back to the form page. You can replace the default success message with a custom page you create by adding an action attribute to the <form> tag, entering the path of your custom page (like "/pages/success") as the value. The path must be relative to the site root, starting with a /.

There sh

[2019-08-02 06:51] fvcproductions opened #465 "Bug: Missing images"
500 startups

latino business action network

http://techqueria.org/resources/entrepreneurship/

tech soup

ycombinator for nonprofits

zapier for nonprofits

http://techqueria.org/resources/nonprofits

[2019-08-02 08:26] #458 closed

[2019-08-02 08:26] #464 closed

[2019-08-02 21:12] fvcproductions commented on #402
No longer relevant as we don't show Slack buttons on desktop

[2019-08-02 21:12] #402 closed

[2019-08-07 04:19] fvcproductions opened #468 "New Feature Request: Make Google Form for Slack Invites into a static form"
## Request

Make Google Form we use to invite people to Slack into a static form hosted on our website

## URL(s)

https://techqueria.org/slack/join

## Why did you make this request?

Google Forms is not what a national nonprofit should be using to collect data - we can do a lot more with integrations if we have it through our website and plus it looks more professional

## Any additional context

[2019-08-07 19:42] fvntr opened #469 "New Resource Request: Add Twitter SF event"
## Name

Add the following event details to the event page: http://twitterthreadswithtechqueria.splashthat.com

## Description

This will be the next SF event with Twitter

## Link to Resources

http://twitterthreadswithtechqueria.splashthat.com

## Desired Slug (optional)

https://techqueria.org/category/slug

[2019-08-07 19:46] fvntr commented on #469
the link is on the site already, it just needs to be updated

[2019-08-07 19:50] veegee2k17 commented on #469
I can take this!

[2019-08-08 15:34] #423 closed

[2019-08-08 15:34] #469 closed

[2019-08-08 15:34] todo[bot] opened #471 "Add gated content navbar links"
https://github.com/techqueria/website/blob/274b2b1860c3544a97b5478f05205d3f9b05abd0/config.toml#L291-L296

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 274b2b1860c3544a97b5478f05205d3f9b05abd0 when #470 was merged. cc @fvcproductions.

[2019-08-08 15:35] fvcproductions commented on #469
@veegee2k17 I already had a PR going so I went ahead and added the link - thanks for being willing to jump in! 🙏🏽

[2019-08-10 09:13] phcarbajal commented on #465
I can do this

[2019-08-10 17:00] phcarbajal opened #476 "Bug: Footer Social Icons incorrect link"
## What's going on?

The links at the footer of the webpage does not link right correctly:
Facebook -> Instagram
Instagram -> Twitter

## How can we reproduce this bug?

Go to Techqueria.org and scroll all the way down.

## What is the expected behavior?

Link:
Facebook -> Facebook
Instagram -> Instagram

## Any screenshots?
When highlighting facebook:
<img width="716" alt="facebook- instagram" sr

[2019-08-10 17:03] fvcproductions commented on #476
@phcarbajal oopsies - that was my bad - see #477 for fix

[2019-08-10 17:04] phcarbajal commented on #476
Why do I need to have Hugo installed to see the changes to the href? Everything seems to have worked when using my local machine except this one thing.

[2019-08-10 17:04] #476 closed

[2019-08-12 22:40] #465 closed

[2019-08-13 17:14] BelenGiraudo opened #479 "New Feature Request: tracking data from donations"
## Track Techqueria donations.

Edit the page that has a donation form on it and add the following code inside an Unformatted Text part. While editing the Unformatted Text part, select Show Advanced Options and choose at the end of the <body> tag from the drop down menu and add this code:

<script type="text/javascript">
   BLACKBAUD.netcommunity.api.DonationConfirmation.add(function (data) {

[2019-08-13 22:11] BelenGiraudo opened #481 "New Feature Request: Advertising Techqueria in Latin countries"
## Advertising Techqueria

I have discovered through google analytics that 89% of people who engage with techqueria live in the U.S. and I was thinking that we could get people from other latin countries engaged through facebook, linkedin and through any other social media, to get more people connected and more donations too.

## URL(s)

https://techqueria.org/xyz

[2019-08-13 22:18] BelenGiraudo opened #482 "New Feature Request: Adding information to Techqueria's main page"
Adding information to Techqueria's main page

There is a bounce rate of 61%, which means that 61% of people who open Techqueria's webpage, closes it with no interaction. I would suggest explaining how does techqueria serve the largest community of Latinx in Tech in the main page to get more people engaged. By adding more information explaining how the company serves the largest community of Latinx

[2019-08-16 01:32] fvntr opened #485 "New Resource Request: Add https://rebates.com/immigrants-guide"
Add https://rebates.com/immigrants-guide to immigration resources

## Link to Resources

https://rebates.com/immigrants-guide

## Category

Immigration

[2019-08-23 18:09] salgc826 commented on #485
I would like to work on this

[2019-08-26 05:12] #457 closed

[2019-08-26 05:12] #461 closed

[2019-08-26 05:12] #468 closed

[2019-08-26 05:12] #438 closed

[2019-08-26 05:12] #447 closed

[2019-08-26 05:13] #403 closed

[2019-08-26 05:13] #436 closed

[2019-08-26 05:13] #314 closed

[2019-08-26 05:14] #453 closed

[2019-08-29 06:14] fvntr opened #502 "New Feature Request: Make table of content on pages an expandable section"
## Request
Currently the table of content is taking up space of many pages and requires several pages of  scrolling to actually get to the content. I think it would be better ux to have the table of contents be expandable or presented in a way where the content of the page is visible without needing to scroll down the page.

## URL(s)

https://techqueria.org/communities/slack/

## Why did you make

[2019-08-30 16:35] pedrofmoura commented on #161
Here's a few more...

https://immigrantsrising.org/

[2019-09-03 00:19] #455 closed

[2019-09-03 02:44] fvcproductions opened #504 "New Feature Request: Minor optimizations (Batch Updates)"
1. Add Sentry to sponsors section under $10K
2. Indicate that sponsors are applicable for the 2020 fiscal year
3. Update unfurl image for https://techqueria.org/supporters
4. Add text to https://techqueria.org/contact to make sure folks understand we don't have a job board yet and if they'd like to post a job, they will need to join the Slack for now
5. Add chapter guidelines to the website
6. Fix

[2019-09-03 03:00] #399 closed

[2019-09-03 07:07] fvntr opened #506 "New Content Update Request: Add ATX events"
## Link where content currently exists

there are some atx events that are still not reflected

## Updates you'd like to make

Add these events to the events list:
https://www.eventbrite.com/o/darlene-santoyo-andrea-cardona-18541630187

[2019-09-06 00:13] #485 closed

[2019-09-06 00:14] fvcproductions commented on #481
We have already have https://techqueria.org/es which is the site translated in Spanish. The translations are not always up to date but we are also prioritizing efforts in the US right now

Thanks for opening this issue!

[2019-09-06 00:14] #481 closed

[2019-09-06 00:15] fvcproductions commented on #482
we can add some sections on the HP in to help with this - i agree there could be more content on HP

- donate section
- about section

[2019-09-06 00:22] #471 closed

[2019-09-07 02:00] daniel9a commented on #421
Hello I'm new to the open source and I'd like to work on this issue

[2019-09-09 01:03] fvntr opened #513 "New Feature Request: Add new Patreon Support Charlie Rivas"
## Request

Add Charlie Rivas to $25+ Patreon Supporter on supporters page

## URL(s)
https://www.linkedin.com/in/charlie-rivas/

Patreon supporters are currently listed here:
https://techqueria.org/team/

## Why did you make this request?

Charlie became a Patreon supporter

[2019-09-09 01:05] fvntr opened #514 "New Content Update Request: Move Patreon Supporters to Supporter page"
## Link where content currently exists
Currently patreon supporters are listed in the following url:
https://techqueria.org/team/

They should be listed on the follow page
https://techqueria.org/supporters/

## Updates you'd like to make

move patreon supporters from team to supporters

[2019-09-15 07:27] fvcproductions commented on #445
Closing this for now - going to move forward with not importing events from Meetup & Eventbrite for now

[2019-09-15 07:27] #445 closed

[2019-09-15 07:29] fvcproductions commented on #354
Closing for now - see #478

[2019-09-15 07:29] #354 closed

[2019-09-15 08:10] #427 closed

[2019-09-15 08:10] #513 closed

[2019-09-15 08:10] #514 closed

[2019-09-16 16:51] fvntr opened #522 "New Feature Request: Add Michael Urbina to the site"
## Request

Michael Urbina just became a Patreon sponsor, add him to the list of supporters
https://www.linkedin.com/in/michaelurbina/

## URL(s)

https://www.linkedin.com/in/michaelurbina/

[2019-09-19 15:45] fvntr opened #524 "New Feature Request: Add Mica Alaniz to the site"
## Request
Mica Alaniz just became a Patreon sponsor, add to the list of supporters
https://www.linkedin.com/in/michaelurbina/

## URL(s)

https://www.linkedin.com/in/micaalaniz/

[2019-09-21 03:23] #522 closed

[2019-09-23 19:53] briantrejo1 opened #526 "New Content Update Request: Add Atlanta to Request an Invite Form"
## Link where content currently exists

https://techqueria.org/communities/slack/join/

## Updates you'd like to make

Add Atlanta, GA to the list under the question - What city are you based out of?*

[2019-09-24 02:22] #504 closed

[2019-09-25 04:06] #524 closed

[2019-09-30 04:26] Torden360 commented on #454
Hi, I have begun work on this. Are there publications on the website currently?

[2019-10-03 04:49] fvntr opened #531 "New Resource Request: Add Appdynamics event"
Add the following event: https://www.eventbrite.com/e/abstract-techqueria-and-latinas-in-techs-vida-latina-tickets-70580077913 to events

## Link to Resources

https://techqueria.org/events/

[2019-10-03 04:50] fvntr opened #532 "New Resource Request: Add Abstract Event"
Add https://www.eventbrite.com/e/abstract-techqueria-and-latinas-in-techs-vida-latina-tickets-70580077913 to events

## URL(s)

https://techqueria.org/events/

[2019-10-04 01:07] fvntr opened #535 "New Resource Request: Add September Techqueria NYC events"
https://www.eventbrite.com/e/hispanic-heritage-kick-off-perreo-tickets-71424704213
https://www.eventbrite.com/e/panel-being-latinx-in-the-music-industry-tickets-71922808055
https://www.eventbrite.com/e/pala-comunidad-techs-impact-on-the-latinx-community-tickets-73060691495

## Description

Add to https://techqueria.org/events/

[2019-10-04 01:11] fvntr opened #536 "New Resource Request: Add Upcoming ATX event"
Add https://www.eventbrite.com/e/techqueria-x-flatiron-what-does-hispanic-heritage-month-really-mean-tickets-74494851105?aff=ebdssbdestsearch

to

techqueria.org/events

[2019-10-04 01:13] fvntr opened #537 "New Resource Request: Add ATX IBM event"
Add https://techqueriaxibm.eventbrite.com/ to techqueria.org/events

[2019-10-04 01:15] fvntr opened #538 "New Resource Request: Add ATX meetup to site"
Add https://www.eventbrite.com/e/techqueria-meet-up-tickets-62657254535 to techqueria.org/events

[2019-10-04 22:17] danielharvilik commented on #531
Hello, is this still available ?

[2019-10-07 18:39] fvntr commented on #482
Hey Eduardo just assigned this to you!
Feel free to ask any questions you may have here

[2019-10-07 18:39] fvntr commented on #502
Hey Eduardo just assigned this to you! Feel free to ask any questions you may have here

[2019-10-08 09:13] fvntr opened #543 "New Resource Request: Add SF October Events"
#8# Description
Add 10/9 event and 10/17 event to site under events

## Link to Resources

https://techqueria-crunchbase-eng-dinner.splashthat.com/
https://latinxinproduct.splashthat.com/

## Category

Insert category here

## Desired Slug (optional)

https://techqueria.org/category/slug

[2019-10-11 19:27] lomeli-noe commented on #531
@fvntr the link you provided is for Abstract, Techqueria and Latinas in Tech's Vida Latina and it expired last month.  Is the event for appdynamics listed here: https://www.appdynamics.com/events/ ?

[2019-10-12 10:32] migben commented on #538
can we close this issue? It seems the event has already ended.

[2019-10-13 02:44] pedrorufino opened #547 "Translation Issue: Create a Spanish version for README.md"
## Context
Create a README file in Spanish could make the project more accessible for non-english speakers.

## Acceptance Criteria
:black_square_button: Make sure README document have English and Spanish versions.

[2019-10-16 04:42] fvcproductions commented on #356
Closing for now

[2019-10-16 04:42] #356 closed

[2019-10-16 04:43] fvcproductions commented on #425
This is drafted here, just needs content which can be separate from this: https://techqueria.org/about/impact-report/

[2019-10-16 04:43] #425 closed

[2019-10-17 05:05] vtostado commented on #431
Hi, I'd like to work on this if it's still open. Can I get more information about this feature :D

[2019-10-20 17:46] apsychogirl commented on #506
Hi, Can I take this up ?

[2019-10-21 02:46] scarlettperry commented on #543
Hi @fvntr! I'd like to work on this if this would still be helpful for your team.

[2019-10-21 03:33] fvcproductions commented on #506
@apsychogirl yep sure can

[2019-10-21 03:36] fvcproductions commented on #538
@migben we include past events on techqueria.org/events

[2019-10-21 03:36] fvcproductions commented on #543
@scarlettperry Feel free to work on this - I can provide feedback or answer any questions

[2019-10-21 03:39] fvcproductions commented on #431
@vtostado hey - yeah basically we just want an easy way for people to refer others to become a member to the techqueria community

i was thinking for a v1, it could just be a landing page at https://techqueria.org/refer on the benefits of being a member and then showing them where to sign up

in the meantime, i have https://techqueria.org/refer redirecting to https://techqueria.org/join

[2019-10-21 03:40] fvcproductions commented on #531
hey folks - we add past events to https://techqueria.org/events - if you take a look at the page you can see how we link the pages

[2019-10-21 03:44] fvcproductions commented on #535
being addressed in #551

[2019-10-21 04:22] apsychogirl commented on #506
Hi, I had a little issue in finding the file where I need to update the list. Can you please help?

[2019-10-21 05:36] fvcproductions commented on #454
@Torden360 thanks for your patience

so the way I was envisioning this was having the publications that are from https://techqueria.org/news and showcasing it in a flexbox way like on https://techqueria.org/supporters

ergo the publications would just be showcased in cards and then be added in on the news page in a separate section labeled "Featured Publications"

[2019-10-21 06:01] fvcproductions commented on #531
added this in #530

[2019-10-21 06:04] fvcproductions commented on #532
added this in #530

[2019-10-21 06:31] fvcproductions commented on #543
@scarlettperry feel free to work on the other event issues - i went ahead and handled this one since i had the assets ready - check out #537 or #536 or #538

[2019-10-21 07:13] #452 closed

[2019-10-21 07:13] #482 closed

[2019-10-21 07:13] #531 closed

[2019-10-21 07:13] #532 closed

[2019-10-21 07:13] #543 closed

[2019-10-21 16:13] scarlettperry commented on #543
@fvcproductions will do! can you assign me to do the other event issues?

[2019-10-21 23:23] fvcproductions opened #554 "New Content Update Request: Add photos link to Climate Corp event"
## Link where content currently exists

https://techqueria.org/events/2019/10/17/latinx-in-product/

## Updates you'd like to make

Add `photos: https://photos.app.goo.gl/Ju55c4vpN5SoX3yv6`

[2019-10-22 01:22] scarlettperry commented on #538
@fvntr @fvcproductions have started to work on this.

[2019-10-22 02:40] meda123 commented on #547
Hi! I would like to volunteer with this translation! Let me know if I can start.

[2019-10-22 02:52] pedrorufino commented on #547
Go ahead  😊

[2019-10-22 03:12] AngelsProjects commented on #547
I can do it right now 👍

[2019-10-22 03:45] #554 closed

[2019-10-22 03:47] #538 closed

[2019-10-22 03:51] #536 closed

[2019-10-22 03:52] fvcproductions commented on #506
Yeah you can check out https://github.com/techqueria/website/pull/557 for an example of how to add a new event @apsychogirl

[2019-10-23 17:43] mariajose13 commented on #456
I will be willing to help

[2019-10-24 07:28] #537 closed

[2019-10-24 08:13] igavelyuk opened #563 "Bug: Feedback Icons and Text"
## What's going on?
Feedback Icons in side red app have oversized text
## How can we reproduce this bug?

1. Go to 'https://techqueria.org/'
2. Click on 'red Feedback side app'
3. Go to to 'choose smile'
4. See error - broken oversized text

## What is the expected behavior?

Qute text labels

## Any screenshots?

![Screenshot at 2019-10-24 11-10-44](https://user-images.githubusercontent.com/21281

[2019-10-25 05:57] #547 closed

[2019-10-25 06:04] #563 closed

[2019-10-25 06:26] fvcproductions commented on #526
Revamped form to allow for all locations

[2019-10-25 06:26] #526 closed

[2019-10-25 06:27] fvcproductions commented on #437
No longer applies

[2019-10-25 06:27] #437 closed

[2019-10-25 06:28] fvcproductions commented on #439
idea: content created by community, curated by community - all featuring blog posts/resources written out by Latinx in tech

[2019-11-18 02:53] fvcproductions opened #577 "New Feature Request: Add article about Slack Community"
## Request

[code]

## URL(s)

https://www.beseen.com/blog/talent/slack-communities-for-tech-pros/

https://techqueria.org/news

[2019-11-19 02:12] briantrejo1 opened #581 "New Content Update Request: City Chapter Learn More Button should be Join Us"
## Link where content currently exists
All city chapter pages under https://techqueria.org/communities/chapters/

## Updates you'd like to make
The "Learn More" button copy should change to "Join Us"
On click, "Join Us" button should redirect visitors to https://techqueria.org/join/#apply-to-become-a-member

## Any additional context?
This was requested because we had a new visitor google "techque

[2019-12-03 04:40] fvcproductions opened #584 "New Feature Request: Add stats to homepage"
## Request

Let's add stats front and center to HP

i.e. 8,000+ members 10+ cities 3+ countries 5 chapters, etc.

## URL(s)

https://techqueria.org/

## Why did you make this request?

Numbers = big impact

[2019-12-13 14:53] sureshmangs commented on #584
I want to take the issue
Where do you want to display the stats on the homepage?

[2019-12-20 03:14] WilliamMena commented on #581
@briantrejo1 I noticed that each of the links redirect to a specific slack channel for each city. I agree on the text change to 'Join Us' but I believe adjusting the redirect would change the original intent of this page.

What do you think @fvcproductions

[2019-12-27 06:16] #381 closed

[2019-12-27 06:16] #430 closed

[2019-12-27 06:16] #429 closed

[2019-12-27 06:16] #428 closed

[2019-12-27 06:16] #432 closed

[2019-12-27 06:16] #431 closed

[2020-01-04 01:55] cjoshmartin commented on #584
How can I help? What stats would you like to add?

[2020-01-04 01:57] cjoshmartin commented on #535
@fvcproductions should this be closed?

[2020-01-05 07:20] fvcproductions commented on #535
Yep! Will close now.

[2020-01-05 07:20] #535 closed

[2020-01-05 07:41] fvcproductions commented on #584
Sure @cjoshmartin

Stats are as follows

8,250+ members
5 cities
75+ events
15K+ user reach on social media

Here's some inspiration for layout

![Screen Shot 2020-01-04 at 11 38 34 PM](https://user-images.githubusercontent.com/4284691/71776783-aecdd880-2f4b-11ea-8981-5d0d3cf4f5aa.jpg)
![Screen Shot 2020-01-04 at 11 38 41 PM](https://user-images.githubusercontent.com/4284691/71776784-aecdd880-2f4b

[2020-01-05 07:41] fvcproductions commented on #584
I think a simple 4 column component on the homepage should be good

[2020-01-06 08:34] fvcproductions commented on #581
Yeah, these are good points! I ended up changing it to the chapter page on our new events platform

ergo SF Chapter page would have https://events.techqueria.org/san-francisco-bay-area/ as link and so on and so forth

[2020-01-06 08:36] fvcproductions commented on #479
Going to close this since we want to move forward using Netlify Analytics https://www.netlify.com/products/analytics/ instead of loading more JS

[2020-01-06 08:36] #479 closed

[2020-01-07 05:58] #581 closed

[2020-01-09 01:22] #454 closed

[2020-01-09 05:47] cjoshmartin commented on #584
@fvcproductions Would the data be static or dynamic?

[2020-01-09 17:56] fvcproductions commented on #584
It would be static so as not to affect performance substantially for the homepage which is valuable real estate.

[2020-01-10 06:18] rcuesta00 commented on #456
Hi,

I see task as stale, but if you need more help with this, I offer myself to the job.

Best.

[2020-01-16 01:54] #502 closed

[2020-01-16 06:39] KGmajor commented on #456
@techqueria/website-admins would be able to update the assignee here @rcuesta00!

[2020-01-22 18:50] fvcproductions commented on #456
Done!

[2020-01-22 18:50] #577 closed

[2020-01-22 18:50] #439 closed

[2020-02-26 23:07] fvntr opened #623 "New Content Update Request: Add Mailchimp as A sponsor"
## Link where content currently exists

https://techqueria.org/support-us/

## Updates you'd like to make

Add mailchimp as sponsor

## Any additional context?

Mailchimp just provided a donation

[2020-02-27 00:25] #623 closed

[2020-03-13 01:06] cvaldez98 opened #630 "New Content Update Request: Remove Slofile information on techqueria join page"
## Link where content currently exists
https://techqueria.org/join/#aftermath

## Updates you'd like to make
Remove

## Any additional context?

This was requested because it isn't really relevant to Techqueria. Upon opening the link, I first thought one must click the sign-in button in order to join the service, only to be brought back to techqueria's slack. Furthermore, I feel removing this will

[2020-03-16 23:14] #584 closed

[2020-03-27 05:29] LuisPinedaJR commented on #456
Hello,
I see this request is still open and stale, I’d be happy to help with translations 🙂

[2020-03-31 16:11] fvcproductions commented on #456
Yes feel free!

[2020-04-14 03:35] #630 closed

[2020-04-21 03:01] LuisPinedaJR commented on #456
added a couple of changes  https://techqueria.org/slack

[2020-05-03 18:10] fvcproductions commented on #456
This was resolved in #637

[2020-05-03 18:10] #456 closed

[2020-05-30 16:03] emmazunz opened #662 "New Content Update Request:"
## Link where content currently exists

https://techqueria.org/team/

## Updates you'd like to make

i should still be listed as a chapter director for austin

## Any additional context?

i'm not sure why i was removed, as i'm still an active CD in austin.

[2020-05-30 16:07] fvcproductions commented on #662
Hey Andrea, I did this after I heard you were moving but I can revert the change, it's just adding in the role on ur page

[2020-05-30 16:11] emmazunz commented on #662
yeah, i'm still doing CD work here. please revert.

[2020-05-30 16:21] fvcproductions commented on #662
Ok the issue has to be open, once the fix is in, then we can close

[2020-05-30 16:40] emmazunz commented on #662
👍🏽thanks. will let you know when i'm no longer doing work in austin/the CD title can be rm-ed.

[2020-06-02 15:52] fvcproductions commented on #662
https://github.com/techqueria/website/commit/93fcbff010b8dbbe520b63c3d02f49f0ec31071c

updated

[2020-06-02 15:52] #662 closed

[2020-06-11 15:58] marieram opened #673 "New Feature Request: Triplebyte referral link"
## Request

Let's add the referral link  https://triplebyte.com/a/Wergxwo/d to the community partner: triplebyte section located here https://techqueria.org/supporters/

## URL(s)

https://techqueria.org/supporters/

## Why did you make this request?

I need this to finish the deliverables for our contract with Triplebyte.

## Any additional context?

This needs to be...

[2020-06-25 19:02] fvntr opened #677 "New Content Update Request: Update CoC"
## Link where content currently exists

https://techqueria.org/coc

## Updates you'd like to make

More explicit language around following point needed:
"*Publishing others’ private information, such as a physical or electronic address, without explicit permission"
Should encompass all personal information and messages shared on platorm.

## Any additional context?

Language is not clear enough. P

[2020-07-03 01:47] fvntr commented on #677
Addressed w/ https://github.com/techqueria/website/pull/678

[2020-07-03 01:47] #677 closed

[2020-07-03 01:48] fvntr commented on #673
Addressed with https://github.com/techqueria/website/pull/680

[2020-07-03 01:52] #673 closed

[2020-07-07 05:10] fvntr opened #687 "New Content Update Request: Differentiate Between Affiliate and Community Partners"
Currently there are affiliate partners listed as community partners.
Since community partners are nonprofit / not-for-profit organizations, this should be updated.

[2020-07-22 21:19] evergreen2001 commented on #687
can i take this

[2020-07-25 03:56] joelszn commented on #687
I'm guessing you want to create an affiliate partners section? Since currently there isn't one on https://techqueria.org/supporters/

Can you specify which ones?
![Screen Shot 2020-07-24 at 11 53 47 PM](https://user-images.githubusercontent.com/23111335/88448208-38ba9180-ce09-11ea-9042-3f02fc50d939.png)

[2020-08-03 22:47] fvntr opened #698 "New Content Update Request: Latinx Therapy"
Address the following:

"Hello- We are redoing our site and have come across the link above. We noticed that our logo is being used but with the wrong URL. Can you please either adjust the URL and title to Latinx Therapy, as we do provide online and in-person services in individual and group format, pro bono work as well, or please replace the logo to reflect Therapy for Latinx? I understand this

[2020-08-03 22:50] fvntr opened #699 "Bug: Mobile Usability Issue - Font too small to read"
Address the following for mobile view based on **Google Search Console Mobile Usability issues detected on techqueria.org**:

**Text too small to read**
https://events.techqueria.org/triggers/read/03dfc1a306c24055b68e056e8dd302b2

[2020-08-03 22:54] fvntr opened #700 "Bug: Google Search Mobile Usability Issue - Viewport not set"
Address the following Google Search Mobile Usability Issue:

Viewport not set
https://events.techqueria.org/triggers/read/03dfc1a306c24055b68e056e8dd302b2

[2020-08-05 13:46] evergreen2001 commented on #687
yes , springboard and code nation

[2020-08-10 16:40] fvcproductions commented on #699
We would have to reach out to Bevy if this is an email issue

[2020-08-10 16:40] fvcproductions commented on #700
We would have to reach out to Bevy if this is an email issue

[2020-08-10 16:40] fvcproductions commented on #698
Removing them in #701 - they can be added back

[2020-08-10 16:41] fvcproductions commented on #687
im updating this in #701

[2020-08-17 02:35] fvcproductions opened #705 "New Feature Request: Add team members to summit page"
## Request

Let's add...

- all the new team members to summit page (Name, Image, Role, LinkedIn)

People to add

- Mary
- Maria
- Felipe

## URL(s)

https://techqueria.org/summit

## Why did you make this request?

There are more folks involved now

## Any additional context?

N/A

cc @fvntr

[2020-08-17 02:38] fvcproductions opened #706 "New Content Update Request: Optimize FAQ section"
## Link where content currently exists

https://techqueria.org/summit

## Updates you'd like to make

Update FAQ page to be a link to Notion as different groups of people will have different questions

## Any additional context?

Will be easier to link to Notion page

[2020-08-17 06:28] fvntr commented on #687
ok this was updated but general assembly is a for-profit org so it should be listed under corporate partners.
@evergreen2001 @joelszn feel free to make this change and I will close this ticket.

[2020-08-17 06:30] fvntr commented on #687
@fvcproductions Im not finding a recent partnership agreement actually, so it is best to just remove. Can you clarify?

[2020-08-17 06:31] fvntr opened #707 "New Content Update Request: Update Partner Inquiry Page"
On this [page](https://techqueria.org/partner/#submit-a-partnership-inquiry) change first name last name to just full name

[2020-08-17 23:54] fvcproductions opened #709 "New Feature Request: Add new press articles to Techqueria News"
## Request

Let's add...

Image, title, and link for all articles below

https://medium.com/@lolitataub/where-latinx-founders-can-find-funding-resources-and-more-9771530626d1

https://oscarbarillas.com/list-of-latinx-in-tech-communities

https://technical.ly/philly/2020/06/15/shannon-morales-founder-echo-me-forward-philly-hires-black-techqueria/

https://www.yesmagazine.org/issue/coronavirus-commu

[2020-08-17 23:57] FrancesCoronel opened #710 "New Feature Request: Embed Triplebyte in footer for 1 month"
## Request

Let's add...

Experiment: Add Triplebyte screenshot to content footer for 1 month - September 15 to October 15

## URL(s)

All pages - right under "Donate" section on pages

<img width="1256" alt="Screen Shot 2020-08-17 at 7 55 44 PM" src="https://user-images.githubusercontent.com/4284691/90455328-cd8c7400-e0c3-11ea-8656-4ce53faaaab8.png">

## Why did you make this request?

For promot

[2020-08-17 23:59] fvcproductions opened #711 "New Feature Request: Create donor section"
## Request

Let's add...

A major donor section for donors who donate $1,000 or more per year

The section should be above Patreon supporters

<img width="1153" alt="Screen Shot 2020-08-17 at 7 58 29 PM" src="https://user-images.githubusercontent.com/4284691/90455443-12180f80-e0c4-11ea-8473-d088050a6c16.png">

Let's remove MailChimp from corporate partners section and put them under major donors

[2020-08-18 00:17] fvcproductions opened #712 "New Feature Request: Blog Recap of Pride Month Event"
## Request

Let's add...

Pride Month Event recap for Blend

https://events.techqueria.org/events/details/techqueria-virtual-events-presents-pride-month-event-with-blend-intersecting-identities-in-tech/

## URL(s)

https://techqueria.org/news

## Why did you make this request?

As part of our partnership with Blend, we provide them a blog post recap of the event we did with them

## Any additional

[2020-08-18 00:49] FrancesCoronel opened #714 "New Feature Request: CSS For Help Center"
## Request

We need a CSS file for our new Help Center powered by Help Scout

## URL(s)

https://help.techqueria.org

## Why did you make this request?

The default theme is pretty ugly, we need to use our branding

## Any additional context?

This needs to be...

https://techqueria.org/brand

https://docs.helpscout.com/ is good example

https://docs.helpscout.com/article/562-docs-branding-example

[2020-09-01 01:50] marieram opened #719 "New Content Update Request: New sponsor"
## Link where content currently exists
https://techqueria.org/supporters/

## Updates you'd like to make
The first paragraph needs to be updated to include Hired as an 📣Affiliate Partners📣

## Any additional context?
This was requested because a new partnership agreement was signed.

**Image to use**
![Hired-Avatar-YT-800x800](https://user-images.githubusercontent.com/34839209/91785576-8cfc2280-eb

[2020-09-18 20:48] fvntr opened #735 "New Content Update Request: Remove any images with namecards visible"
## Link where content currently exists

lhm summit page and other event pages

## Updates you'd like to make

replace with images without names or alter image to remove names

## Any additional context?

Maritza brought this to my attention as a potential privacy concern.

[2020-09-21 15:12] yarden2k3 commented on #705
Hi! I can see that information already added, is it true?

[2020-09-23 15:53] yarden2k3 commented on #719
Hi, I would like to take that task and help:) I'm already creating a PR it should be done in a few minutes.

[2020-09-23 18:07] celioreyes commented on #709
Hello 👋

Is the plan for these `news` post to only be a link to the external posts? Or would there need to be a recap of the external post and a link?

[2020-09-25 23:08] marieram commented on #719
@fvntr can we push this to the website?

[2020-09-25 23:14] marieram opened #743 "New Content Update Request: New sponsor"
## Link where content currently exists

https://techqueria.org/supporters/

## Updates you'd like to make

The first paragraph needs to be updated to be updated under 🧭Silver Sponsors🧭

## Any additional context?

This was requested because a new partnership agreement was signed.

![northeastern-university](https://user-images.githubusercontent.com/34839209/94323349-47790e00-ff4a-11ea-9ef0-677dbcd

[2020-09-27 02:01] #699 closed

[2020-09-27 02:01] #700 closed

[2020-09-27 02:01] #698 closed

[2020-09-27 02:01] #706 closed

[2020-09-27 02:08] fvcproductions commented on #687
i'll remove

[2020-09-27 02:08] #687 closed

[2020-09-27 02:08] fvcproductions commented on #707
its better for crm to have it split

[2020-09-27 02:08] #707 closed

[2020-09-27 02:13] #711 closed

[2020-09-27 02:13] #712 closed

[2020-09-27 02:16] fvcproductions commented on #705
Yes, this was done!

[2020-09-27 02:16] #705 closed

[2020-09-27 02:16] fvcproductions commented on #709
A small recap would suffice as well as linking to external site

[2020-09-27 02:17] #719 closed

[2020-09-27 02:18] fvcproductions commented on #710
Screenshot is here: https://techqueria.org/supporters/triplebyte/

[2020-09-27 02:18] fvcproductions commented on #710
Link is https://triplebyte.com/a/Wergxwo/d

[2020-09-27 08:20] yarden2k3 commented on #743
Hi, I would love to work on that issue.
Can you please send some additional information about that university (only one paragraph so I could elaborate on the new page)?

[2020-10-01 02:42] PeppermintNDaisies commented on #714
Hello! I would love to work on this issue!

[2020-10-01 19:18] DianiSN commented on #743
Was this already taken care of?

[2020-10-02 16:11] fvcproductions commented on #743
Hi this wasn't done yet but I would just grab some info from the Wiki page

[2020-10-02 16:12] fvcproductions commented on #714
@PeppermintNDaisies Just assigned you!

[2020-10-02 16:16] #709 closed

[2020-10-02 16:38] DianiSN commented on #710
@fvcproductions - Do you want the screenshot
![image](https://user-images.githubusercontent.com/8972507/94947673-0a61ce00-04ac-11eb-9ddc-afedaad02935.png) to be just like it is in that page? That they click and go to https://triplebyte.com/a/Wergxwo/d?

[2020-10-02 19:50] DianiSN commented on #743
Sounds good. I will do that.

[2020-10-02 20:29] fvcproductions commented on #710
yep that's right

[2020-10-02 20:57] PeppermintNDaisies commented on #714
How exciting, thanks!

[2020-10-02 22:23] DianiSN commented on #710
Sounds good :) will do.

[2020-10-02 22:58] DianiSN commented on #735
@fvntr Can we get a little bit more of a description of the issue? A screenshot would help tons. What is the issue? What is the desired state? Where are the images in the LHM Summit page? Is it the speaker images that you are referring to?

[2020-10-03 03:32] PeppermintNDaisies commented on #714
Hello @fvcproductions ! I forked the repository and didn't find the help center page there, I later came back here and found the page is hosted in Help Scout. I went there for some guidance and found [this](https://docs.helpscout.com/article/835-css-styles-to-snag), but I'm not sure how to proceed, is the code somewhere I can see it or use it to test the CSS?

[2020-10-05 17:14] marieram opened #774 "New Content Update Request: LHM page"
## Link where content currently exists

https://techqueria.org/summit/#speakers

## Updates you'd like to make

Remove the speaker called Austin Hernandez and add Stephanie Rivera, Full Stack Bureaucrat, 18F.

## Any additional context?

This was requested because the panelist were changed.
![image (21)](https://user-images.githubusercontent.com/34839209/95110846-7da95100-06f3-11eb-87a0-b03308e7b2

[2020-10-08 06:44] fvntr commented on #735
There are images on the site like techqueria.org/summit where the names of participants are visible if you zoom in.

[2020-10-08 18:51] gdomingu commented on #774
i think someone already completed this.
<img width="488" alt="Screen Shot 2020-10-08 at 11 51 17 AM" src="https://user-images.githubusercontent.com/4443635/95501062-99fbf680-095c-11eb-990f-abdbc335541d.png">

[2020-10-08 22:11] FrancesCoronel commented on #774
Yep, looks like it - thank you for flagging!

[2020-10-08 22:11] #774 closed

[2020-10-08 22:12] FrancesCoronel commented on #714
Heyo, so the help center code is hosted on Help Scout but what you can do is grab the HTML and apply the CSS locally using the guide.

[2020-10-08 22:12] FrancesCoronel commented on #735
@fvntr i would upload replacement images

[2020-10-08 22:23] PeppermintNDaisies commented on #714
Perfect! That sounds good, where can I get that HTML from? Where is that code located?

[2020-10-14 18:11] FrancesCoronel commented on #714
https://help.techqueria.org/ has the current HTML

[2020-10-14 18:12] FrancesCoronel commented on #714
[help-site.zip](https://github.com/techqueria/website/files/5380069/help-site.zip)

This is what I was working on

[2020-10-18 02:14] PeppermintNDaisies commented on #714
Perfect, thanks!!

[2020-10-19 14:46] AdhilUsman commented on #743
Can i work on that?

[2020-10-19 15:26] DianiSN commented on #743
I have a open PR for this #770.

[2020-10-21 19:57] marieram opened #787 "New Content Update Request: New Partner"
## Link where content currently exists

https://techqueria.org/supporters/

## Updates you'd like to make

Please add under community partners

## Any additional context?

This was requested because we have a new partner.

![LUCS-logo-vert-nobg](https://user-images.githubusercontent.com/34839209/96775733-cd974180-139c-11eb-9a26-61cb8feacbeb.png)

[2020-10-23 19:18] marieram opened #788 "New Content Update Request: New Partner"
## Link where content currently exists

https://techqueria.org/supporters/

## Updates you'd like to make

Update should happen under bronze supporters

## Any additional context?

This was requested because its a new partner.

![Sisense-logo_alternate_black_small](https://user-images.githubusercontent.com/34839209/97044682-49be9000-1529-11eb-84a4-31b41aa848b3.png)

[2020-10-27 03:12] #743 closed

[2020-10-27 03:12] #710 closed

[2020-11-05 01:56] DianiSN commented on #787
I can take care of this

[2020-11-05 01:56] DianiSN commented on #788
I can take care of this

[2020-11-07 02:46] annelisehp opened #795 "New Content Update Request:"
## Link where content currently exists

https://https://techqueria.org/supporters/

## Updates you'd like to make

Add 2 additional donors to Supporters page under "Patreon supporters who pledge $25 or more each month" section:

![JMartinez](https://user-images.githubusercontent.com/74083018/98430125-3d295400-2060-11eb-9f9f-cdf609e35d43.jpeg)
John Martinez
Director of Cloud R&D / Developer Relatio

[2020-11-09 16:57] marieram opened #804 "New Content Update Request: New Partner Meet Cafecito"
## Link where content currently exists

https://techqueria.org/supporters/

## Updates you'd like to make

Add the sponsor logo under the"Community Partners" section

## Any additional context?

This was requested because we have a new partner.
![Group 23](https://user-images.githubusercontent.com/34839209/98571596-ef843580-2271-11eb-996f-ab6ebe0046ee.png)

[2020-11-09 23:35] DianiSN commented on #804
@marieram - What is the name of the new partner?

[2020-11-10 21:23] #787 closed

[2020-11-10 21:23] #788 closed

[2020-11-10 21:23] #795 closed

[2020-11-10 21:23] FrancesCoronel commented on #804
Meet Cafecito

[2020-11-10 21:24] FrancesCoronel commented on #735
No longer relevant

[2020-11-10 21:24] #735 closed

[2020-11-16 21:39] annelisehp opened #811 "New Content Update Request: Supporter"
## Link where content currently exists

https://https://techqueria.org/supporters/

## Updates you'd like to make

Add 1 additional donor to Supporters page under "Patreon supporters who pledge $25 or more each month" section:

<img width="750" alt="Screen Shot 2020-11-16 at 1 41 05 PM" src="https://user-images.githubusercontent.com/74083018/99311407-6b055a00-2811-11eb-9d88-d42165f53837.png">
Zak

[2020-11-20 01:55] DianiSN commented on #804
Great! I am on it.

[2020-11-20 02:07] DianiSN commented on #811
On it 👍

[2020-12-04 00:27] FrancesCoronel opened #818 "New Content Update: Article"
Add this article under news as we are mentioned

We got mentioned in another article!

https://lbpost-com.cdn.ampproject.org/c/s/lbpost.com/news/millennials-great-recession-how-to-get-a-job-advice/amp/

[2020-12-19 23:13] DianiSN commented on #818
Sounds good. I will add it.

[2020-12-20 18:45] #804 closed

[2020-12-20 18:45] #811 closed

[2020-12-21 21:08] marieram opened #822 "New Content Update Request: New Partner Adyen"
![Adyen logo - Green RGB](https://user-images.githubusercontent.com/34839209/102822182-cb019a00-4395-11eb-8fdf-cc6b1667b24b.png)

## Link where content currently exists

https://techqueria.org/supporters/

## Updates you'd like to make

Please add the image under Silver Sponsors.

## Any additional context?

This was requested because they're a new partner.

[2020-12-21 21:14] marieram opened #823 "New Content Update Request: New Partner Latino Community Fund WA"
![lcf logo](https://user-images.githubusercontent.com/34839209/102822621-af4ac380-4396-11eb-9b94-136401a17750.png)
## Link where content currently exists

https://techqueria.org/supporters/

## Updates you'd like to make

Please add the partner under Community Partner

## Any additional context?

This was requested because they're a new partner.

[2020-12-21 21:51] marieram opened #824 "New Content Update Request: Article"
## Link where content currently exists

https://techqueria.org/news/

## Updates you'd like to make

Add the following ... https://www.lyft.com/diversity

Lyft's 2020 Diversity Report highlights many partnerships across the industry to include Techqueria.
Techqueria and Lyft partnered hosted [Uncharted Territories: On Being First in Tech](https://events.techqueria.org/events/details/techqueria-vir

[2020-12-23 18:14] marieram opened #825 "New Content Update Request: New Partner Guru"
## Link where content currently exists

https://techqueria.org/supporters/

## Updates you'd like to make

Please add the image under Silver Sponsors.

## Any additional context?

This was requested because they're a new partner.

![05_GuruG_WTagline_Green (1) (2)](https://user-images.githubusercontent.com/34839209/103025892-f14b4500-450f-11eb-922f-e04bee75f822.png)

[2020-12-25 12:32] #714 closed

[2021-01-02 18:33] DianiSN commented on #822
I will update the sponsors

[2021-01-02 18:34] DianiSN commented on #823
I will update the partners

[2021-01-02 18:34] DianiSN commented on #824
I will add this article

[2021-01-02 18:34] DianiSN commented on #825
I will make the update.

[2021-01-03 17:41] DianiSN commented on #824
@marieram - Do you want me to add the text you included as the summary? I would put today's date as the date for the article. Is that alright?

[2021-01-05 05:31] annelisehp opened #829 "New Content Update Request: Update Miami Slack Channel Name"
## Link where content currently exists

https://techqueria.org/chapters/miami/
https://techqueria.org/chapters/

## Updates you'd like to make

Update Slack channel name to #locals-florida (currently #locals-miami_

## Any additional context?

This was requested because I noticed Miami is an incubating chapter and Orlando is inactive. The linked Slack channel goes to a Florida channel, not Miami.

[2021-01-13 05:37] michellbrito commented on #822
opened a new pr for this - https://github.com/techqueria/website/pull/834